src/n8n/workflows/[Base] Base Agent with Key - Consolidated.json
{
	"nodes": [
		{
			"parameters": {
				"operation": "update",
				"tableId": "ai_tasks",
				"filters": {
					"conditions": [
						{
							"keyName": "id",
							"condition": "eq",
							"keyValue": "={{ $json.supabase_task_id }}"
						}
					]
				},
				"fieldsUi": {
					"fieldValues": [
						{
							"fieldId": "started_at",
							"fieldValue": "={{ new Date().toISOString() }}"
						},
						{
							"fieldId": "status",
							"fieldValue": "processing"
						}
					]
				}
			},
			"type": "n8n-nodes-base.supabase",
			"typeVersion": 1,
			"position": [11504, 8688],
			"id": "5f43ba47-56be-4a21-85cb-a796937840ab",
			"name": "Mark Processing",
			"credentials": {
				"supabaseApi": {
					"id": "tOzBo3n0Kkt5Bt41",
					"name": "Supabase Account Tony"
				}
			}
		},
		{
			"parameters": {
				"content": "## 5. PREPARE NEXT TASK\nCreate next stage tasks if configured",
				"height": 452,
				"width": 684,
				"color": 3
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [13392, 8576],
			"typeVersion": 1,
			"id": "86ad90b3-dc1f-420d-98a1-83772548a1ed",
			"name": "Phase 5 - Next Task"
		},
		{
			"parameters": {
				"content": "## 4. POST-PROCESS\nOptional webhook/subworkflow after AI",
				"height": 452,
				"width": 252,
				"color": 4
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [13120, 8576],
			"typeVersion": 1,
			"id": "230d0db4-8537-435f-83f5-4b8bf2f2c018",
			"name": "Phase 4 - Post-Process"
		},
		{
			"parameters": {
				"content": "## 3. AI GEN\nGemini API with key rotation",
				"height": 548,
				"width": 1376,
				"color": 5
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [11728, 8480],
			"typeVersion": 1,
			"id": "a996400a-b70e-4d80-9370-b4cc2ef34e10",
			"name": "Phase 3 - AI Gen"
		},
		{
			"parameters": {
				"content": "## 2. PRE-PROCESS\nOptional webhook/subworkflow before AI",
				"height": 452,
				"width": 284,
				"color": 4
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [11424, 8576],
			"typeVersion": 1,
			"id": "cad46680-93bf-4bd1-b692-1d8bbf1396e2",
			"name": "Phase 2 - Pre-Process"
		},
		{
			"parameters": {
				"content": "## 1. GET TASK\nFetch and parse highest priority task from queue",
				"height": 452,
				"width": 636,
				"color": 6
			},
			"type": "n8n-nodes-base.stickyNote",
			"position": [10768, 8576],
			"typeVersion": 1,
			"id": "a75cfd13-7cdd-4a2b-b5a7-2c44e8a58c53",
			"name": "Phase 1 - Get Task"
		},
		{
			"parameters": {
				"rule": {
					"interval": [
						{
							"field": "minutes"
						}
					]
				}
			},
			"type": "n8n-nodes-base.scheduleTrigger",
			"typeVersion": 1.2,
			"position": [10864, 8688],
			"id": "2be13b6e-4e71-44f4-a5fe-fc63b7334c56",
			"name": "Schedule Trigger"
		},
		{
			"parameters": {},
			"type": "n8n-nodes-base.manualTrigger",
			"typeVersion": 1,
			"position": [10864, 8848],
			"id": "046608a7-6d79-4118-a5af-c7824e26a789",
			"name": "When clicking 'Execute workflow'"
		},
		{
			"parameters": {
				"operation": "get",
				"dataTableId": {
					"__rl": true,
					"value": "LT77b3PENHxZuRwj",
					"mode": "list",
					"cachedResultName": "n8n-task-queue"
				},
				"matchType": "allConditions",
				"filters": {
					"conditions": [
						{
							"keyName": "status",
							"keyValue": "plan"
						}
					]
				},
				"limit": 10
			},
			"type": "n8n-nodes-base.dataTable",
			"typeVersion": 1,
			"position": [11072, 8688],
			"id": "f2102e61-8b4a-41bd-8035-ed0bb5f69a85",
			"name": "Get Tasks",
			"executeOnce": true
		},
		{
			"parameters": {
				"jsCode": "// ========== PHASE 1: GET & PARSE TASK ==========\n// Merged from: Filter A Task + JSON Parse\n\nconst tasks = $input.all().map(item => item.json);\nif (tasks.length === 0) return [];\n\n// Sort by priority: test_mode > batch_priority > sequence > created_at\nconst sortedTasks = tasks.sort((a, b) => {\n  const testModeA = a.test_mode === true || a.test_mode === 'true';\n  const testModeB = b.test_mode === true || b.test_mode === 'true';\n  if (testModeA && !testModeB) return -1;\n  if (!testModeA && testModeB) return 1;\n\n  if (a.batch_priority && b.batch_priority) {\n    const priorityA = new Date(a.batch_priority).getTime();\n    const priorityB = new Date(b.batch_priority).getTime();\n    if (priorityA !== priorityB) return priorityA - priorityB;\n  } else if (a.batch_priority) return -1;\n  else if (b.batch_priority) return 1;\n\n  const seqA = parseInt(a.sequence) || 1;\n  const seqB = parseInt(b.sequence) || 1;\n  if (seqA !== seqB) return seqA - seqB;\n\n  if (a.created_at && b.created_at) {\n    return new Date(a.created_at).getTime() - new Date(b.created_at).getTime();\n  }\n  return 0;\n});\n\nconst t = sortedTasks[0];\n\n// Parse JSON string fields safely\nconst safeParse = (val, fallback) => {\n  if (!val) return fallback;\n  if (typeof val === 'object' && val !== null) return val;\n  try { return JSON.parse(val); } catch { return fallback; }\n};\n\nreturn {\n  ...t,\n  task_id: t.task_id || '',\n  supabase_task_id: t.supabase_task_id || t.id,\n  launch_id: t.launch_id || null,\n  user_id: t.user_id || null,\n  batch_id: t.batch_id || '',\n  extra: safeParse(t.extra, {}),\n  data: safeParse(t.data, {}),\n  ai_settings: safeParse(t.ai_settings, {}),\n  hierarchy_path: safeParse(t.hierarchy_path, []),\n  step_number: parseInt(t.step_number) || 1,\n  stage_key: t.stage_key || '',\n  parent_task_id: t.parent_task_id || null,\n  split_group_id: t.split_group_id || null,\n  test_mode: t.test_mode === true || t.test_mode === 'true',\n  requires_approval: t.requires_approval === true || t.requires_approval === 'true',\n  _retry_count: 0\n};\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [11264, 8688],
			"id": "e7af9a42-7937-43f1-b419-e8c9d55f34e1",
			"name": "1. Parse Task",
			"executeOnce": true
		},
		{
			"parameters": {
				"jsCode": "// ========== PHASE 2: PRE-PROCESS ==========\n// Merged from: Check Pre-Process + Execute Pre-Process Webhook\n//              + Merge Pre-Process Output + Handle Pre-Process Failure\n\nconst task = $json;\nconst cfg = task.extra?.pre_process;\n\n// Skip if pre-process not enabled or no URL\nif (!cfg?.enabled || !cfg?.webhook_url) {\n  return { ...task, _pre_process_skipped: true };\n}\n\ntry {\n  const method = cfg.webhook_method || 'POST';\n  const res = await this.helpers.httpRequest({\n    method,\n    url: cfg.webhook_url,\n    body: task.data,\n    json: true,\n    timeout: 30000\n  });\n\n  // Merge output based on output_handling config\n  let mergedData = { ...task.data };\n  const outputHandling = cfg.output_handling || 'merge';\n\n  if (outputHandling === 'replace') {\n    mergedData = res;\n  } else if (outputHandling === 'merge') {\n    mergedData = { ...mergedData, ...res };\n  } else if (outputHandling === 'nested') {\n    const fieldName = cfg.nested_field_name || 'pre_output';\n    mergedData[fieldName] = res;\n  }\n\n  return { ...task, data: mergedData, _pre_process_executed: true };\n\n} catch (error) {\n  const onFailure = cfg.on_failure || 'continue';\n\n  if (onFailure === 'abort') {\n    throw new Error('Pre-process webhook failed: ' + error.message);\n  }\n\n  // Continue with original data\n  return {\n    ...task,\n    _pre_process_failed: true,\n    _pre_process_error: error.message\n  };\n}"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [11504, 8880],
			"id": "1ce4fe50-1a88-4310-a957-42f72531881f",
			"name": "2. Pre-Process",
			"executeOnce": true
		},
		{
			"parameters": {
				"amount": 1
			},
			"type": "n8n-nodes-base.wait",
			"typeVersion": 1.1,
			"position": [12928, 8784],
			"id": "4969f4f8-e152-4bb3-80f2-b7c8f64fad6b",
			"name": "Wait Loop",
			"webhookId": "consolidated-wait-loop"
		},
		{
			"parameters": {
				"url": "https://n8n.teky.vn/webhook/get-active-key",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.3,
			"position": [11840, 8688],
			"id": "77453839-1832-460c-aa41-fbcd68db4f4c",
			"name": "Get Key",
			"executeOnce": true,
			"credentials": {
				"httpBasicAuth": {
					"id": "4STFVBW6SDzs3GJf",
					"name": "AI Content Creator"
				}
			},
			"onError": "continueErrorOutput"
		},
		{
			"parameters": {
				"errorMessage": "[403] Key Rotation Manager has no valid key!"
			},
			"type": "n8n-nodes-base.stopAndError",
			"typeVersion": 1,
			"position": [12032, 8816],
			"id": "f9b93fe7-4327-4969-8680-3be97b665e8a",
			"name": "Stop - No Key"
		},
		{
			"parameters": {
				"method": "POST",
				"url": "=https://generativelanguage.googleapis.com/v1beta/models/{{ ($('2. Pre-Process').item.json.ai_settings && $('2. Pre-Process').item.json.ai_settings.model_id) ? $('2. Pre-Process').item.json.ai_settings.model_id : $('1. Parse Task').item.json.ai_settings.model_id }}:{{ ($('2. Pre-Process').item.json.ai_settings && $('2. Pre-Process').item.json.ai_settings.generate_content_api) ? $('2. Pre-Process').item.json.ai_settings.generate_content_api : $('1. Parse Task').item.json.ai_settings.generate_content_api }}?key={{ $json.api_key }}",
				"sendBody": true,
				"specifyBody": "json",
				"jsonBody": "={{ \n  JSON.stringify({\n    \"generationConfig\": ($('2. Pre-Process').item.json.ai_settings || {}).generationConfig || ($('1. Parse Task').item.json.ai_settings || {}).generationConfig || {},\n    \"contents\": [\n      {\n        \"role\": \"user\",\n        \"parts\": [\n          { \"text\": $('2. Pre-Process').item.json.prompt }\n        ]\n      }\n    ],\n    \"safetySettings\": ($('2. Pre-Process').item.json.ai_settings || {}).safetySettings || ($('1. Parse Task').item.json.ai_settings || {}).safetySettings || [],\n    \"systemInstruction\": ($('2. Pre-Process').item.json.ai_settings || {}).systemInstruction || ($('1. Parse Task').item.json.ai_settings || {}).systemInstruction || undefined\n  })\n}}",
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.3,
			"position": [12032, 8640],
			"id": "5b5e3b40-6d5a-4544-ab7e-52cc871772fe",
			"name": "Gemini API",
			"executeOnce": true,
			"onError": "continueErrorOutput"
		},
		{
			"parameters": {
				"jsCode": "// ========== PHASE 3: PARSE AI RESPONSE & MERGE METADATA ==========\n// Merged from: Convert MarkdownJSON to JSON + Add AlongWith Attributes\n\n// Step 1: Parse Gemini response (markdown JSON → JS object)\nfunction convertMarkdownJsonToJsObject(partsArray) {\n  const fullText = partsArray.map(part => part.text).join('');\n  let trimmed = fullText.trim();\n\n  let jsonContent;\n  if (trimmed.startsWith('```json')) {\n    jsonContent = trimmed.slice(7, trimmed.lastIndexOf('```')).trim();\n  } else if (trimmed.startsWith('{') || trimmed.startsWith('[')) {\n    jsonContent = trimmed;\n  } else {\n    throw new Error('Invalid JSON format');\n  }\n\n  // Minimal cleaning - remove control chars\n  jsonContent = jsonContent.replace(/[\\u0000-\\u0008\\u000B\\u000C\\u000E-\\u001F]/g, '');\n  return JSON.parse(jsonContent);\n}\n\nlet finalResult;\ntry {\n  const partsArray = $json.candidates[0].content.parts;\n  finalResult = convertMarkdownJsonToJsObject(partsArray);\n} catch (e) {\n  // Parse failed or Gemini error - trigger retry via Check Retry\n  return { _retry: true, _error: e.message };\n}\n\n// Step 2: Merge with task metadata (AlongWith Attributes logic)\n// USE PRE-PROCESS OUTPUT as source of truth for extra/data\nvar taskInfo = $('2. Pre-Process').first().json;\nvar extra = taskInfo.extra || {};\nvar data = taskInfo.data || {};\nvar returnAlongWith = (extra && extra[\"return-along-with\"]) || [];\n\nif (returnAlongWith.length > 0) {\n  for (var key of returnAlongWith) {\n    if (data.hasOwnProperty(key)) {\n      finalResult[key] = data[key];\n    }\n  }\n}\n\nreturn {\n  ...taskInfo,\n  \"result\": finalResult,\n  \"extra\": extra,\n  \"data\": data,\n  \"supabase_task_id\": taskInfo.supabase_task_id || taskInfo.id\n};\n"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [12240, 8640],
			"id": "d74ee8a6-ff84-4bab-8c47-c4d0ef586348",
			"name": "3. Parse & Report"
		},
		{
			"parameters": {
				"conditions": {
					"options": {
						"caseSensitive": true,
						"leftValue": "",
						"typeValidation": "strict",
						"version": 1
					},
					"conditions": [
						{
							"id": "retry-check",
							"leftValue": "={{ $json._retry }}",
							"rightValue": true,
							"operator": {
								"type": "boolean",
								"operation": "equals"
							}
						}
					],
					"combinator": "and"
				},
				"options": {}
			},
			"type": "n8n-nodes-base.if",
			"typeVersion": 2,
			"position": [12400, 8640],
			"id": "764d4b06-fc71-4a50-8103-359de7aa00b8",
			"name": "Check Retry"
		},
		{
			"parameters": {
				"jsCode": "// ========== PHASE 4: POST-PROCESS ==========\n// Merged from: Check Post-Process + Execute Post-Process Webhook\n//              + Handle Post-Process Result\n\nconst task = $json;\nconst extra = task.extra || {};\nconst cfg = extra.post_process;\n\n// Skip if post-process not enabled\nif (!cfg?.enabled || !cfg?.webhook_url) {\n  return { ...task, _post_process_skipped: true };\n}\n\n// Prepare request body based on input_source config\nlet requestBody;\nconst inputSource = cfg.input_source || 'output_only';\n\nif (inputSource === 'output_only') {\n  requestBody = task.result;\n} else if (inputSource === 'input_and_output') {\n  requestBody = { input: task.data, output: task.result };\n} else {\n  requestBody = task.result;\n}\n\ntry {\n  const method = cfg.webhook_method || 'POST';\n  const res = await this.helpers.httpRequest({\n    method,\n    url: cfg.webhook_url,\n    body: requestBody,\n    json: true,\n    timeout: 30000\n  });\n\n  return {\n    ...task,\n    _post_process_executed: true,\n    _post_process_response: res\n  };\n\n} catch (error) {\n  const onFailure = cfg.on_failure || 'continue';\n\n  if (onFailure === 'abort') {\n    throw new Error('Post-process webhook failed: ' + error.message);\n  }\n\n  // Continue with original result\n  return {\n    ...task,\n    _post_process_failed: true,\n    _post_process_error: error.message\n  };\n}"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [13200, 8688],
			"id": "eabd1e24-c4e6-4dd0-932b-9f203694dc70",
			"name": "4. Post-Process",
			"executeOnce": true
		},
		{
			"parameters": {
				"jsCode": "// ========== PHASE 5: DETERMINE & CREATE NEXT STAGE TASKS (GRT SUPPORT) ==========\n// This node handles task chaining and parallel branching.\n// It uses the Global Routing Table (GRT) provided in 'extra' to hydrate child tasks.\n\nconst task = $json;\nconst extra = task.extra || {};\n\n// Get current stage config\nconst currentStageConfig = extra.current_stage_config || null;\n\n// Get next stage configs (hydrated roadmap from parent)\n// Normalization: Ensure it's always an array\nlet nextConfigs = extra.next_stage_configs || extra.next_stage_config || [];\nif (!Array.isArray(nextConfigs)) {\n  nextConfigs = [nextConfigs];\n}\n\n// Get Global Routing Table for recursive hydration\nconst grt = extra.grt || {};\n\n// === TERMINATE: No next stage ===\nif (!currentStageConfig || nextConfigs.length === 0) {\n  return {\n    action: 'terminate',\n    task_id: task.supabase_task_id,\n    message: 'No next stage configured - final stage reached'\n  };\n}\n\nconst cardinality = currentStageConfig.cardinality || 'one_to_one';\nconst result = task.result;\nconst inputData = task.data || {};\n\n// Helper: extract stage key from template ID\nfunction extractStageKey(templateId) {\n  if (!templateId) return 'unknown_stage';\n  // Example: \"uuid_stage_name\" -> \"stage_name\"\n  const parts = templateId.split('_');\n  if (parts.length < 2) return templateId;\n  return parts.slice(1).join('_');\n}\n\nconst currentStageKey = task.stage_key || (currentStageConfig.template_id ? extractStageKey(currentStageConfig.template_id) : 'unknown_stage');\nconst rootId = task.root_task_id || task.supabase_task_id;\nconst hierarchyPath = [...(task.hierarchy_path || []), task.supabase_task_id];\nconst currentStepNumber = parseInt(task.step_number) || 1;\n\n// Helper: build metadata for a new child task\nfunction buildTaskMetadata(nextConfig, index, total, dataForTask) {\n  const nextTplId = nextConfig.template_id || nextConfig.prompt_id;\n  const nextStageKey = extractStageKey(nextTplId);\n\n  // Parse task_type suffix (BUG-4 Fix)\n  const taskTypeMatch = nextTplId.match(/^[0-9a-f-]+_(.+)$/);\n  const taskType = taskTypeMatch ? taskTypeMatch[1] : nextStageKey;\n\n  // RECURSIVE HYDRATION using GRT\n  const childRouting = grt[nextTplId] || {};\n  const grandChildIds = childRouting.next_ids || [];\n  const grandChildConfigs = grandChildIds.map(gcId => {\n    const gcInfo = grt[gcId];\n    if (!gcInfo) return null;\n    return {\n      template_id: gcInfo.template_id,\n      prompt_id: gcInfo.prompt_id,\n      cardinality: gcInfo.cardinality,\n      split_mode: gcInfo.split_mode,\n      split_path: gcInfo.split_path,\n      output_mapping: gcInfo.output_mapping\n    };\n  }).filter(Boolean);\n\n  return {\n    prompt_template_id: childRouting.template_id || nextTplId,\n    task_type: taskType,\n    input_data: dataForTask,\n    parent_task_id: task.supabase_task_id, // Fix BUG-3\n    root_task_id: rootId,\n    hierarchy_path: hierarchyPath,\n    batch_id: task.batch_id || null,\n    user_id: task.user_id || null,\n    launch_id: task.launch_id || null,\n    test_mode: task.test_mode || false,\n    sequence: index + 1,\n    total_steps: total,\n    status: 'plan',\n\n    // Metadata preservation\n    stage_key: nextStageKey,\n    step_number: currentStepNumber + 1,\n    split_group_id: task.split_group_id,\n    requires_approval: childRouting.requires_approval || task.requires_approval || false,\n\n    extra: {\n      current_stage_config: {\n        template_id: childRouting.template_id || nextTplId,\n        prompt_id: childRouting.prompt_id || null,\n        cardinality: childRouting.cardinality || 'one_to_one',\n        split_path: childRouting.split_path || null,\n        split_mode: childRouting.split_mode || 'per_item',\n        output_mapping: childRouting.output_mapping || 'result'\n      },\n      next_stage_configs: grandChildConfigs, // ✅ PASSING THE ROADMAP\n      grt: grt, // ✅ PASSING THE ENGINE\n      parent_stage_key: currentStageKey,\n      parent_task_id: task.supabase_task_id\n    }\n  };\n}\n\n// === EXECUTE BRANCHING ===\nlet finalTasks = [];\n\nif (cardinality === 'one_to_one') {\n  finalTasks = nextConfigs.map((cfg, idx) => buildTaskMetadata(cfg, idx, 1, result));\n} else if (cardinality === 'one_to_many') {\n  const splitPath = currentStageConfig.split_path || 'result';\n\n  // Navigate to array\n  const pathParts = splitPath.split('.');\n  let arrayToSplit = result;\n  for (const part of pathParts) {\n    if (part === 'result') continue;\n    arrayToSplit = arrayToSplit?.[part];\n  }\n\n  if (Array.isArray(arrayToSplit)) {\n    const splitMode = currentStageConfig.split_mode || 'per_item';\n    for (const nextConfig of nextConfigs) {\n      if (splitMode === 'per_item') {\n        arrayToSplit.forEach((item, idx) => {\n          finalTasks.push(buildTaskMetadata(nextConfig, idx, arrayToSplit.length, {\n            ...inputData,\n            user_id: task.user_id || null,\n            batch_id: task.batch_id || null,\n            launch_id: task.launch_id || null,\n            item: item,\n            _split_index: idx,\n            _split_total: arrayToSplit.length\n          }));\n        });\n      } else if (splitMode === 'per_batch') {\n        const batchSize = currentStageConfig.batch_size || 10;\n        for (let i = 0, bIdx = 0; i < arrayToSplit.length; i += batchSize, bIdx++) {\n          const batchItems = arrayToSplit.slice(i, i + batchSize);\n          finalTasks.push(buildTaskMetadata(nextConfig, bIdx, Math.ceil(arrayToSplit.length / batchSize), {\n            ...inputData,\n            user_id: task.user_id || null,\n            batch_id: task.batch_id || null,\n            launch_id: task.launch_id || null,\n            items: batchItems,\n            _batch_index: bIdx\n          }));\n        }\n      }\n    }\n  }\n}\n\nreturn {\n  action: finalTasks.length > 0 ? 'create_tasks_for_branches' : 'terminate',\n  tasks: finalTasks,\n  total_count: finalTasks.length,\n  task_id: task.supabase_task_id\n};"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [13456, 8688],
			"id": "e984dd05-ddbc-45ba-b552-601ab535bbb6",
			"name": "5. Prepare Next Tasks"
		},
		{
			"parameters": {
				"operation": "update",
				"dataTableId": {
					"__rl": true,
					"value": "LT77b3PENHxZuRwj",
					"mode": "list",
					"cachedResultName": "n8n-task-queue"
				},
				"filters": {
					"conditions": [
						{
							"keyName": "task_id",
							"keyValue": "={{ $('4. Post-Process').item.json.task_id }}"
						}
					]
				},
				"columns": {
					"mappingMode": "defineBelow",
					"value": {
						"status": "generated",
						"result": "={{ JSON.stringify($('4. Post-Process').item.json.result) }}"
					},
					"matchingColumns": [],
					"schema": [
						{
							"id": "status",
							"displayName": "status",
							"required": false,
							"defaultMatch": false,
							"display": true,
							"type": "string",
							"readOnly": false,
							"removed": false
						}
					],
					"attemptToConvertTypes": false,
					"convertFieldsToString": false
				},
				"options": {}
			},
			"type": "n8n-nodes-base.dataTable",
			"typeVersion": 1,
			"position": [13456, 8880],
			"id": "f58f80ba-7c38-4455-b15b-26ef9469f625",
			"name": "Mark Generated",
			"executeOnce": true
		},
		{
			"parameters": {
				"jsCode": "// ========== PHASE 6: CREATE NEXT STAGE TASKS ==========\n// Handles the output from Phase 5 and creates tasks in Supabase\n\nconst config = $json;\n\n// Handle terminate - no next tasks needed\nif (config.action === 'terminate') {\n  return [];\n}\n\n// Handle error\nif (config.action === 'error') {\n  throw new Error(config.message);\n}\n\n// Handle create_tasks_for_branches\nif (config.action === 'create_tasks_for_branches') {\n  return config.tasks.map(task => ({\n    prompt_template_id: task.prompt_template_id,\n    task_type: task.task_type || '',\n    input_data: task.input_data,\n    parent_task_id: task.parent_task_id,\n    root_task_id: task.root_task_id,\n    hierarchy_path: task.hierarchy_path,\n    batch_id: task.batch_id || null,\n    user_id: task.user_id || null,\n    launch_id: task.launch_id || null,\n    test_mode: task.test_mode,\n    sequence: task.sequence,\n    total_steps: task.total_steps,\n    status: task.status || 'plan',\n    stage_key: task.stage_key,\n    step_number: task.step_number,\n    split_group_id: task.split_group_id,\n    requires_approval: task.requires_approval,\n    extra: task.extra\n  }));\n}\n\n// Fallback: return empty array\nreturn [];"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [13664, 8688],
			"id": "227e0ce1-2b43-4457-ae77-85b4f249f929",
			"name": "6. Format Tasks"
		},
		{
			"parameters": {
				"tableId": "ai_tasks",
				"dataToSend": "autoMapInputData"
			},
			"type": "n8n-nodes-base.supabase",
			"typeVersion": 1,
			"position": [13872, 8688],
			"id": "d4b6e2ab-8f73-439d-af96-06168e26eb4b",
			"name": "Create a row",
			"credentials": {
				"supabaseApi": {
					"id": "tOzBo3n0Kkt5Bt41",
					"name": "Supabase Account Tony"
				}
			}
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://n8n.teky.vn/webhook/set-key-state",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"bodyParameters": {
					"parameters": [
						{
							"name": "key_id",
							"value": "={{ $('Get Key').item.json.key_id }}"
						},
						{
							"name": "status",
							"value": "success"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.3,
			"position": [12240, 8496],
			"id": "f04cc995-84b8-42c4-a3dd-3a0e4ad71a55",
			"name": "Report Success",
			"credentials": {
				"httpBasicAuth": {
					"id": "4STFVBW6SDzs3GJf",
					"name": "AI Content Creator"
				}
			}
		},
		{
			"parameters": {
				"method": "POST",
				"url": "https://n8n.teky.vn/webhook/set-key-state",
				"authentication": "genericCredentialType",
				"genericAuthType": "httpBasicAuth",
				"sendBody": true,
				"bodyParameters": {
					"parameters": [
						{
							"name": "key_id",
							"value": "={{ $('Get Key').item.json.key_id }}"
						},
						{
							"name": "status",
							"value": "fail"
						},
						{
							"name": "error_code",
							"value": "={{ $json.error ? '[' + ($json.error.status || 'API_ERROR') + '] ' + ($json.error.message || '') : ($json._error ? '[PARSE_ERROR] ' + $json._error : 'UNKNOWN_ERROR') }}"
						}
					]
				},
				"options": {}
			},
			"type": "n8n-nodes-base.httpRequest",
			"typeVersion": 4.3,
			"position": [12576, 8784],
			"id": "6d9d63ec-6361-40da-9490-e004a18f3e9e",
			"name": "Report Failure",
			"credentials": {
				"httpBasicAuth": {
					"id": "4STFVBW6SDzs3GJf",
					"name": "AI Content Creator"
				}
			}
		},
		{
			"parameters": {
				"jsCode": "const maxRetries = 3;\nconst currentRun = $runIndex;\n\nif (currentRun >= maxRetries - 1) {\n    throw new Error(\"Max retries reached. All available keys failed.\");\n}\n\nreturn { json: { retry_count: currentRun + 1 } };"
			},
			"type": "n8n-nodes-base.code",
			"typeVersion": 2,
			"position": [12752, 8784],
			"id": "6eff6d9c-637b-4878-bcea-2def4167dd8e",
			"name": "Retry Logic"
		}
	],
	"connections": {
		"Mark Processing": {
			"main": [[]]
		},
		"Schedule Trigger": {
			"main": [
				[
					{
						"node": "Get Tasks",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"When clicking 'Execute workflow'": {
			"main": [
				[
					{
						"node": "Get Tasks",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Tasks": {
			"main": [
				[
					{
						"node": "1. Parse Task",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"1. Parse Task": {
			"main": [
				[
					{
						"node": "Mark Processing",
						"type": "main",
						"index": 0
					},
					{
						"node": "2. Pre-Process",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"2. Pre-Process": {
			"main": [
				[
					{
						"node": "Get Key",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Wait Loop": {
			"main": [
				[
					{
						"node": "Get Key",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Get Key": {
			"main": [
				[
					{
						"node": "Gemini API",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Stop - No Key",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Gemini API": {
			"main": [
				[
					{
						"node": "3. Parse & Report",
						"type": "main",
						"index": 0
					},
					{
						"node": "Report Success",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "Report Failure",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"3. Parse & Report": {
			"main": [
				[
					{
						"node": "Check Retry",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Check Retry": {
			"main": [
				[
					{
						"node": "Report Failure",
						"type": "main",
						"index": 0
					}
				],
				[
					{
						"node": "4. Post-Process",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"4. Post-Process": {
			"main": [
				[
					{
						"node": "5. Prepare Next Tasks",
						"type": "main",
						"index": 0
					},
					{
						"node": "Mark Generated",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"5. Prepare Next Tasks": {
			"main": [
				[
					{
						"node": "6. Format Tasks",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"6. Format Tasks": {
			"main": [
				[
					{
						"node": "Create a row",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Report Failure": {
			"main": [
				[
					{
						"node": "Retry Logic",
						"type": "main",
						"index": 0
					}
				]
			]
		},
		"Retry Logic": {
			"main": [
				[
					{
						"node": "Wait Loop",
						"type": "main",
						"index": 0
					}
				]
			]
		}
	},
	"pinData": {},
	"meta": {
		"templateCredsSetupCompleted": true,
		"instanceId": "3c3655861b945e2f23873d293f97337788a318f9e0823cca507f13751bd70fd7"
	}
}
