src/n8n/workflows/[IOSTEM] Question Gen - Add Task To Queue.json
{
  "nodes": [
    {
      "parameters": {
        "assignments": {
          "assignments": [
            {
              "id": "78c2065f-4ffd-4aab-acef-9354cb012550",
              "name": "data",
              "value": "={{ $json.data }}",
              "type": "object"
            },
            {
              "id": "1ea7968f-4a95-434f-82f2-0d107bcc5132",
              "name": "prompt",
              "value": "={{ $json.prompt }}",
              "type": "string"
            },
            {
              "id": "0b0b93dc-7955-41df-ae61-6611542f80ad",
              "name": "ai_settings",
              "value": "={{ $json.ai_settings }}",
              "type": "object"
            },
            {
              "id": "5591b47b-fd80-47e8-ac0e-907f3477bca8",
              "name": "extra",
              "value": "={{ $json.extra }}",
              "type": "object"
            },
            {
              "id": "1f797e58-4eb3-48f7-a45c-30e46cc6f075",
              "name": "task_type",
              "value": "={{ $json.task_type }}",
              "type": "string"
            }
          ]
        },
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1664,
        240
      ],
      "id": "98e1b50c-e787-4cb2-8ca7-4d359f959378",
      "name": "Workflow Input"
    },
    {
      "parameters": {},
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [
        1248,
        32
      ],
      "id": "fb945f88-d0c9-4913-b79d-2623d72870b8",
      "name": "Start Workflow"
    },
    {
      "parameters": {
        "jsCode": "const inputData = $input.first().json || {};\nconst data = inputData.data;\nlet prompt = inputData.prompt || \"\";\n\n// Regex để tìm các mẫu {{ key }} hoặc {{key}}\n// [\\w]+ khớp với các ký tự chữ, số và gạch dưới\nprompt = prompt.replace(/\\{\\{\\s*([\\w]+)\\s*\\}\\}/g, (match, key) => {\n  \n  // Kiểm tra xem key có tồn tại trong object 'data' không\n  if (data.hasOwnProperty(key)) {\n    const value = data[key];\n\n    // Nếu dữ liệu là mảng (ví dụ: keywords), nối chúng bằng dấu phẩy\n    if (Array.isArray(value)) {\n      return value.join(\", \");\n    }\n    \n    // Nếu là chuỗi hoặc số, trả về giá trị\n    return value;\n  }\n  \n  // Nếu không tìm thấy key trong data, giữ nguyên placeholder (để dễ debug)\n  return match;\n});\n  \n\nreturn { prompt };"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1872,
        240
      ],
      "id": "54923d53-55d4-4997-a620-4248792d5ce1",
      "name": "Create Final Prompt"
    },
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "f4784c9b-f5f6-44db-97c8-2c31a89d5be3",
        "authentication": "basicAuth",
        "responseMode": "lastNode",
        "options": {
          "allowedOrigins": "*",
          "binaryPropertyName": "data",
          "responsePropertyName": "data"
        }
      },
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        1248,
        240
      ],
      "id": "f4a0a7b1-7c06-458b-a529-43e82369c63f",
      "name": "Webhook",
      "webhookId": "f4784c9b-f5f6-44db-97c8-2c31a89d5be3",
      "credentials": {
        "httpBasicAuth": {
          "id": "a1XAtAWQdKHSgVK8",
          "name": "MakeXYZ N8N User"
        }
      }
    },
    {
      "parameters": {
        "inputSource": "jsonExample",
        "jsonExample": "{\n    \"task_type\": \"gen-raw-question\",\n    \"extra\": {\n      \"return-along-with\": [\n        \"code\",\n        \"grade_code\",\n        \"grade_name\",\n        \"week_code\"\n      ],\n      \"return-result-spreadsheet-id\": \"15LTO7KlGvCEH5ycd2YtrcOj7r9EnIphqR4EZdScvMkc\",\n      \"return-result-sheetname\": \"QUESTIONS\"\n    },\n    \"data\": {\n      \"row_number\": 2161,\n      \"state\": \"plan\",\n      \"code\": \"SIO_VL_DD_NL_01\",\n      \"name\": \"Mô tả sự chuyển hoá năng lượng trong dao động\",\n      \"description\": \"Mô tả được sự chuyển hoá giữa động năng và thế năng trong dao động điều hoà và nêu được cơ năng được bảo toàn (khi bỏ qua ma sát).\",\n      \"keywords\": \"động năng, thế năng, cơ năng, bảo toàn cơ năng, chuyển hóa năng lượng, dao động điều hoà\",\n      \"knowledge_type_code\": \"CONCEPT\",\n      \"stem_element_code\": \"S\",\n      \"course_code\": \"VAT_LY\",\n      \"grade_code\": \"G11\",\n      \"week_code\": \"W05\",\n      \"lo_type\": \"SPECIFIC_IMPL\",\n      \"parent_lo_code\": \"CIO_VAT_LY_NLDAO\",\n      \"course_name\": \"Vật lí\",\n      \"category_name\": \"Dao động\",\n      \"topic_name\": \"Năng lượng trong dao động\",\n      \"grade_name\": \"Lớp 11\"\n    },\n    \"prompt\": \"# SYSTEM INSTRUCTION: STAGE 1 - CORE CONTENT GENERATOR\\n\\n## MISSION\\nYou are the **Lead Curriculum Designer**. Your goal is to generate **AT LEAST 10 INDEPENDENT Core Questions** for the provided Learning Objective (LO).\\nEach question must be richer than a simple test item—it should be an \\\"Educational Scenario\\\" that assesses deep understanding.\\n\\n**FOCUS:** Educational Quality, Real-world Context, Cognitive Appropriateness.\\n**LANGUAGE:** VIETNAMESE (Tiếng Việt).\\n**OUTPUT:** The output MUST be strictly valid JSON content without other comment or text.\\n\\n## INPUT DATA\\n- Learning Objective: [{{code}}] {{name}}\\n- Description: {{description}}\\n- Learning Objective Type: {{lo_type}}\\n- Keywords: {{keywords}}\\n- Knowledge Type: {{knowledge_type_code}}\\n- Course: {{course_name}}\\n- Category: {{category_name}}\\n- Topic: {{topic_name}}\\n- Grade: {{grade_name}}\\n- Week: {{week_code}}\\n\\n## LANGUAGE CONSTRAINT\\n**CRITICAL:** The output content (Scenario, Question, Ideal Response, Misconceptions) MUST be in **VIETNAMESE** (Tiếng Việt).\\n- The student-facing text (`<SCENARIO>`, `<CORE_QUESTION>`, `<IDEAL_RESPONSE>`, `<EXPLANATION>`, `<MISCONCEPTIONS>`) must be natural, academic Vietnamese suitable for Vietnamese curriculum.\\n- Avoid awkward Google Translate style—write as a native Vietnamese educator would.\\n\\n## REFERENCE: BLOOM DISTRIBUTION BY GRADE\\nDistribute the questions according to the student's cognitive stage:\\n\\n| Grade Level | REMEMBER | UNDERSTAND | APPLY | ANALYZE | EVALUATE | CREATE |\\n| :--- | :---: | :---: | :---: | :---: | :---: | :---: |\\n| **G1-G3** (7-9y) | 3 | 4 | 3 | 0 | 0 | 0 |\\n| **G4-G5** (9-11y) | 2 | 3 | 4 | 1 | 0 | 0 |\\n| **G6-G9** (12-15y) | 1 | 2 | 3 | 3 | 1 | 0 |\\n| **G10-G12** (16-18y)| 1 | 2 | 3 | 3 | 1 | 0 |\\n\\n**Usage:** Generate EXACTLY the number of questions per Bloom level as specified for the grade. Total must be 10 questions.\\n\\n## REFERENCE: CONTEXT TAXONOMY\\nSelect the most appropriate context ID for the scenario:\\n- **A (THEO_ABS):** Abstract Theory (Use sparingly, only for high-school math/physics).\\n- **B (SPEC_CASE):** Specific Case/Example (Standard academic examples).\\n- **C (NAT_OBS):** Natural Observation (Biology, Geography, primary science).\\n- **D (TECH_ENG):** Technical/Engineering Application (Robotics, IT, Physics).\\n- **E (EXP_INV):** Experiment/Investigation (Lab work, Scientific method).\\n- **F (REAL_PROB):** Real-world Problem (Social issues, Environment, Finance).\\n- **G (DATA_MOD):** Data Interpretation (Charts, Tables, Trends).\\n- **H (HIST_SCI):** History of Science (Discovery context).\\n\\n## REFERENCE: CONTEXT PRIORITY BY SUBJECT\\nUse this guide to select the best context for the subject:\\n\\n| Subject | Primary Choice | Secondary Choice | Avoid (unless specific) |\\n| :--- | :--- | :--- | :--- |\\n| **Math** | **G (DATA_MOD)**, **F (REAL_PROB)** | B (SPEC_CASE) | A (THEO_ABS) |\\n| **Physics** | **D (TECH_ENG)**, **E (EXP_INV)** | C (NAT_OBS) | A (THEO_ABS) |\\n| **Chemistry** | **E (EXP_INV)**, **D (TECH_ENG)** | F (REAL_PROB) | A (THEO_ABS) |\\n| **Biology** | **C (NAT_OBS)**, **F (REAL_PROB)** | E (EXP_INV) | D (TECH_ENG) |\\n| **IT/Tech** | **D (TECH_ENG)**, **F (REAL_PROB)** | G (DATA_MOD) | H (HIST_SCI) |\\n\\n## REFERENCE: HINTS & BEST PRACTICES\\n\\n### 1. Verb-Based Framing (from Question Verbs Table)\\n- **Identify/Recognize (REMEMBER):** Focus on specific lists, diagrams, or descriptions.\\n- **Explain/Interpret (UNDERSTAND):** Focus on \\\"Why\\\" and \\\"Meaning\\\" rather than simple facts.\\n- **Apply/Calculate (APPLY):** Must provide specific numbers or concrete situations.\\n- **Analyze/Evaluate (ANALYZE/EVALUATE):** Must provide data, charts, or conflicting viewpoints to assess.\\n\\n### 2. Contextability Logic\\n- **High Contextability (Score 9-10):** Naturally fits real world (IT Hardware, Environmental issues). → Use `REAL_PROB`, `TECH_ENG`.\\n- **Medium Contextability (Score 6-8):** Needs creative context (Math formulas in construction). → Use `SPEC_CASE`, `DATA_MOD`.\\n- **Low Contextability (Score 0-5):** Purely abstract (Axioms, Grammar rules). → Use `SPEC_CASE` (don't force `REAL_PROB`).\\n\\n## REFERENCE: QUALITY EXAMPLES BY GRADE\\n\\n### Example 1: Grade 3 (REMEMBER - NAT_OBS)\\n**Scenario:** \\\"Cô giáo cho học sinh quan sát một quả bóng được thả từ độ cao 1m xuống sàn. Quả bóng nảy lên cao 50cm rồi rơi xuống lần nữa.\\\"\\n\\n**Core Question:** \\\"Em hãy kể lại những gì em quan sát được khi quả bóng rơi và nảy.\\\"\\n\\n**Ideal Response:** \\\"Khi thả xuống, quả bóng rơi nhanh dần. Khi chạm sàn, quả bóng nảy lên nhưng không cao bằng lúc đầu (chỉ được 50cm thay vì 1m). Sau đó quả bóng lại rơi xuống.\\\"\\n\\n**Why it works:** Concrete, observable, matches age 7-9 cognitive level. Uses familiar object (ball). No abstract concepts.\\n\\n---\\n\\n### Example 2: Grade 8 (APPLY - EXP_INV)\\n**Scenario:** \\\"Trong thí nghiệm con lắc đơn, bạn Minh đo được chu kỳ dao động T = 2s khi chiều dài dây l = 1m ở Hà Nội (g = 10 m/s²). Bạn Minh muốn chu kỳ giảm còn 1s để thực hiện một thí nghiệm khác.\\\"\\n\\n**Core Question:** \\\"Bạn Minh cần thay đổi chiều dài dây như thế nào? Tính toán cụ thể và giải thích.\\\"\\n\\n**Ideal Response:** \\n\\\"**Bước 1:** Sử dụng công thức chu kỳ con lắc đơn: T = 2π√(l/g)\\n\\n**Bước 2:** Với T₁ = 2s, l₁ = 1m và T₂ = 1s, ta có:\\nT₂/T₁ = √(l₂/l₁)\\n1/2 = √(l₂/1)\\nl₂ = (1/2)² × 1 = 0.25m = 25cm\\n\\n**Bước 3:** Kết luận: Bạn Minh cần rút ngắn dây xuống còn 25cm (giảm 4 lần về chiều dài) để chu kỳ giảm 2 lần.\\\"\\n\\n**Why it works:** Real experiment context, requires formula application, numerical answer with units, step-by-step reasoning appropriate for Grade 8.\\n\\n---\\n\\n### Example 3: Grade 11 (ANALYZE - TECH_ENG)\\n**Scenario:** \\\"Một hệ thống giảm xóc ô tô sử dụng lò xo với độ cứng k = 20,000 N/m. Khi xe đi qua ổ gà sâu 10cm, lò xo nén xuống 10cm trong thời gian 0.2s. Kỹ sư thiết kế tuyên bố: 'Thế năng cực đại của hệ thống đạt 1000J, đảm bảo an toàn cho hành khách'.\\\"\\n\\n**Core Question:** \\\"Phân tích phát biểu của kỹ sư. Tính toán thế năng cực đại thực tế và nhận xét về độ an toàn của hệ thống giảm xóc này.\\\"\\n\\n**Ideal Response:**\\n\\\"**Phân tích:**\\nThế năng đàn hồi cực đại khi lò xo nén tối đa (x = 10cm = 0.1m):\\n\\nWt(max) = (1/2)kx² = (1/2) × 20,000 × (0.1)² = 100J\\n\\n**So sánh:**\\n- Kỹ sư nói: 1000J\\n- Thực tế: 100J\\n- **Kết luận:** Kỹ sư tính sai (cao gấp 10 lần). Có thể do nhầm lẫn đơn vị (cm vs m).\\n\\n**Đánh giá an toàn:**\\nThế năng thực tế chỉ 100J là phù hợp với tiêu chuẩn giảm xóc ô tô thông thường (< 150J). Tuy nhiên, cần kiểm tra thêm hệ số giảm chấn để đảm bảo không gây khó chịu cho hành khách khi nảy.\\\"\\n\\n**Why it works:** Professional engineering context, requires both calculation AND critical evaluation, multi-step reasoning with real-world assessment, appropriate for Grade 11 abstract thinking.\\n\\n---\\n\\n### Anti-patterns to AVOID:\\n❌ **Quá trừu tượng cho tuổi nhỏ:** \\\"Hãy chứng minh định lý bảo toàn cơ năng bằng vi phân\\\" (Grade 3)\\n❌ **Thiếu dữ liệu:** \\\"Tính chu kỳ con lắc\\\" (không cho chiều dài, g)\\n❌ **Easily Googleable:** \\\"Động năng là gì?\\\" → **Nên:** \\\"Giải thích tại sao động năng của xe tăng nhanh khi xuống dốc\\\"\\n❌ **Context không phù hợp tuổi:** Dùng \\\"hệ thống AI tự động\\\" cho Grade 4\\n❌ **Misconceptions mơ hồ:** \\\"Học sinh hiểu sai công thức\\\" → **Nên:** \\\"Học sinh nghĩ động năng tỉ lệ với khối lượng mũ 2 thay vì mũ 1\\\"\\n\\n## INSTRUCTIONS\\n\\n### 1. Analyze Cognitive Stage\\nBased on the grade level, determine cognitive capabilities:\\n- **Grade 1-3 (7-9 years):** Concrete operational stage. Focus on direct observation, physical manipulatives, familiar daily objects. Avoid abstract concepts.\\n- **Grade 4-5 (9-11 years):** Developing logical thinking. Can handle simple multi-step problems. Use local community context (school, neighborhood).\\n- **Grade 6-9 (12-15 years):** Early formal operations. Can handle abstract concepts with concrete anchors. Use national context, simple data analysis.\\n- **Grade 10-12 (16-18 years):** Full abstract reasoning. Can handle complex systems, professional contexts, global issues, advanced mathematics.\\n\\n### 2. Select Context & Scenario\\n\\n**Step 2.1: Determine Contextability**\\n- Read the LO keywords: \\\"{{keywords}}\\\"\\n- Assess: Can this concept exist in real life naturally? (High) / Needs creative adaptation? (Medium) / Purely abstract? (Low)\\n- **Decision tree:**\\n  - **High contextability** (e.g., \\\"energy in machines\\\", \\\"plant growth\\\", \\\"data analysis\\\") → Use `TECH_ENG`, `REAL_PROB`, `NAT_OBS`\\n  - **Medium contextability** (e.g., \\\"quadratic equations\\\", \\\"chemical formulas\\\") → Use `SPEC_CASE`, `DATA_MOD`, `EXP_INV`\\n  - **Low contextability** (e.g., \\\"axioms\\\", \\\"grammar rules\\\", \\\"pure proofs\\\") → Use `SPEC_CASE` (do NOT force fake real-world scenarios)\\n\\n**Step 2.2: Match Grade Level to Context Complexity**\\n- **Grade 1-5:** \\n  - **Preferred:** `NAT_OBS` (animals, plants, weather), `SPEC_CASE` (toys, school objects)\\n  - **Acceptable:** Simple `EXP_INV` (mixing colors, growing plants)\\n  - **Avoid:** `TECH_ENG` (too professional), `DATA_MOD` (complex charts)\\n  \\n- **Grade 6-9:** \\n  - **Preferred:** `EXP_INV` (lab experiments), `DATA_MOD` (simple charts/tables), `REAL_PROB` (local community issues)\\n  - **Acceptable:** Light `TECH_ENG` (simple machines), `NAT_OBS`\\n  - **Caution:** Keep professional contexts relatable (avoid corporate/industrial unless clearly explained)\\n  \\n- **Grade 10-12:** \\n  - **Preferred:** `TECH_ENG` (engineering, technology), `REAL_PROB` (societal issues), `DATA_MOD` (complex analysis)\\n  - **Acceptable:** All contexts\\n  - **Authenticity priority:** Use professional/academic contexts that students will encounter in university or career\\n\\n**Step 2.3: Write Scenario Stem**\\n\\n**Length guidelines by grade:**\\n- **Grade 1-5:** 30-50 words (simple, clear language, one main idea)\\n- **Grade 6-9:** 50-80 words (add context and background, 1-2 main ideas)\\n- **Grade 10-12:** 60-100 words (professional detail, multiple data points, complex situation)\\n\\n**Content requirements:**\\n- **Must include:** ALL numerical data needed, relevant context, units clearly stated\\n- **Must be complete:** Student can answer WITHOUT external resources or assumptions\\n- **Must be authentic:** Situation could realistically occur (or is pedagogically standard for the subject)\\n\\n**Google-proof check:**\\nAsk yourself: \\\"Can a student just Google keywords and copy-paste an answer, or do they need to APPLY/ANALYZE knowledge?\\\"\\n- ❌ **Googleable:** \\\"Định nghĩa động năng là gì?\\\"\\n- ✅ **Google-proof:** \\\"Xe tải 5 tấn và xe con 1 tấn cùng chạy 60 km/h. So sánh động năng và giải thích tại sao xe tải nguy hiểm hơn khi va chạm.\\\"\\n\\n**Cultural relevance:**\\nUse Vietnamese context where possible: Vietnamese names (Minh, Lan, Hùng), Vietnamese locations (Hà Nội, TP.HCM, sông Mekong), Vietnamese units (sào, mẫu for land in appropriate contexts), Vietnamese scenarios (chợ, lễ hội, trường học).\\n\\n**Example progression by grade:**\\n- **Grade 3:** \\\"Bạn Minh đẩy xích đu cho em. Khi em ở vị trí cao nhất, xích đu dừng lại một chút rồi lao xuống...\\\"\\n- **Grade 8:** \\\"Trong thí nghiệm con lắc lò xo, bạn Lan gắn quả nặng 200g vào lò xo có k = 20 N/m...\\\"\\n- **Grade 11:** \\\"Một hệ thống treo cầu sử dụng cáp thép có độ cứng tương đương k = 10⁶ N/m. Khi xe tải 30 tấn đi qua...\\\"\\n\\n### 3. Formulate Core Question\\n\\nWrite a clear, direct question that asks the student to perform the cognitive task defined by the Bloom level:\\n\\n**By Bloom Level:**\\n- **REMEMBER:** \\\"Kể lại...\\\", \\\"Liệt kê...\\\", \\\"Nhận biết...\\\", \\\"Nêu...\\\"\\n- **UNDERSTAND:** \\\"Giải thích...\\\", \\\"Mô tả...\\\", \\\"So sánh...\\\", \\\"Tại sao...\\\"\\n- **APPLY:** \\\"Tính...\\\", \\\"Áp dụng... để...\\\", \\\"Xác định...\\\", \\\"Giải quyết...\\\"\\n- **ANALYZE:** \\\"Phân tích...\\\", \\\"So sánh và đối chiếu...\\\", \\\"Tìm mối quan hệ...\\\", \\\"Đánh giá...\\\"\\n- **EVALUATE:** \\\"Nhận xét...\\\", \\\"Đánh giá phương án...\\\", \\\"Lựa chọn và biện minh...\\\", \\\"Phê phán...\\\"\\n- **CREATE:** \\\"Thiết kế...\\\", \\\"Đề xuất phương án...\\\", \\\"Tạo ra...\\\", \\\"Xây dựng...\\\"\\n\\n**Question characteristics:**\\n- **Direct and specific:** Not vague like \\\"Hãy nói về chủ đề này\\\"\\n- **Action-oriented:** Clear verb indicating what student must do\\n- **Single-focused:** One main task (can have sub-parts for APPLY/ANALYZE, but one core objective)\\n- **No options yet:** This is an essay-style question. Multiple choice comes in later stages.\\n\\n### 4. Define Ideal Response & Explanation\\n\\n**Step 4.1: Write Ideal Response**\\n\\nStructure the ideal answer based on Bloom level:\\n\\n- **REMEMBER/UNDERSTAND:** \\n  - Format: 2-3 complete sentences\\n  - Content: Clear definition/description + relevant example\\n  - Length: 40-60 words (Grade 1-5), 60-80 words (Grade 6-12)\\n\\n- **APPLY:** \\n  - Format: Step-by-step calculation with clear labels\\n  - Structure:\\n    ```\\n    **Bước 1:** [Identify given data and what to find]\\n    **Bước 2:** [Apply relevant formula/method]\\n    **Bước 3:** [Calculate with units]\\n    **Bước 4:** [Conclude with answer + unit]\\n    ```\\n  - Length: 80-120 words\\n  - **Must include:** All numerical work, proper units, final answer clearly stated\\n\\n- **ANALYZE/EVALUATE:** \\n  - Format: Comparison/Assessment + Justification\\n  - Structure:\\n    ```\\n    **Phân tích:** [Break down components/options]\\n    **So sánh:** [Compare key factors]\\n    **Đánh giá:** [Judge based on criteria]\\n    **Kết luận:** [Final recommendation with reasoning]\\n    ```\\n  - Length: 100-150 words\\n  - **Must include:** Multiple perspectives considered, clear criteria for judgment\\n\\n- **CREATE:**\\n  - Format: Solution design outline + key considerations\\n  - Structure:\\n    ```\\n    **Ý tưởng chính:** [Core concept]\\n    **Các bước thực hiện:** [Implementation steps]\\n    **Cân nhắc:** [Important factors/constraints]\\n    ```\\n  - Length: 120-180 words\\n\\n**Quality standards:**\\n- Use precise academic Vietnamese terminology\\n- Include units in all numerical answers\\n- Show intermediate steps (especially for APPLY)\\n- Demonstrate complete understanding, not just final answer\\n\\n---\\n\\n**Step 4.2: Write Explanation (3-part structure)**\\n\\nEvery explanation must follow this exact format:\\n\\n```\\n**1. Tại sao đáp án đúng:** [Explain the underlying concept that makes this answer correct, 2-3 sentences]\\n\\n**2. Sai lầm thường gặp:** [Describe what students typically do wrong when approaching this problem, 2 sentences]\\n\\n**3. Khái niệm nền tảng:** [State the fundamental principle or theory this question tests, 1-2 sentences]\\n```\\n\\n**Example:**\\n```\\n**1. Tại sao đáp án đúng:** Sử dụng định luật bảo toàn cơ năng, ta biết rằng tổng động năng và thế năng luôn không đổi trong dao động điều hòa không có ma sát. Khi vật ở vị trí x = 6cm, một phần cơ năng chuyển thành thế năng đàn hồi, phần còn lại là động năng.\\n\\n**2. Sai lầm thường gặp:** Học sinh thường quên đổi đơn vị từ cm sang m trước khi thế vào công thức, dẫn đến kết quả sai 10,000 lần. Một số em còn nhầm lẫn rằng động năng cực đại khi vật ở biên (x = A) thay vì tại vị trí cân bằng (x = 0).\\n\\n**3. Khái niệm nền tảng:** Định luật bảo toàn cơ năng cho dao động điều hòa: W = Wđ + Wt = (1/2)mv² + (1/2)kx² = (1/2)kA² = const. Cơ năng chỉ phụ thuộc vào biên độ và độ cứng, không đổi theo thời gian khi bỏ qua ma sát.\\n```\\n\\n---\\n\\n**Step 4.3: List Key Misconceptions (CRITICAL QUALITY REQUIREMENT)**\\n\\nGenerate 3-4 misconceptions following this **mandatory template**:\\n\\n```\\n- **[Misconception Category]:** [Specific error description] → [Why students think this way] → [How to correct this thinking]\\n```\\n\\n**Misconception Categories:**\\n1. **Nhầm lẫn khái niệm** (Conceptual misunderstanding)\\n2. **Lỗi tính toán** (Procedural/calculation error)\\n3. **Nhầm ký hiệu/đơn vị** (Notation/unit confusion)\\n4. **Áp dụng sai ngữ cảnh** (Overgeneralization/wrong context)\\n5. **Hiểu sai quan hệ nhân quả** (Causal reasoning error)\\n\\n---\\n\\n**EXAMPLES of GOOD misconceptions:**\\n\\n✅ **Example 1 (Conceptual):**\\n```\\n- **Nhầm lẫn khái niệm:** Học sinh nghĩ động năng cực đại khi vật ở biên (x = A) → Vì cho rằng \\\"vị trí xa trung tâm nhất thì năng lượng chuyển động lớn nhất\\\" → Cần nhấn mạnh: động năng tỉ lệ với v², và v max khi vật qua vị trí cân bằng (x = 0), không phải ở biên\\n```\\n\\n✅ **Example 2 (Calculation):**\\n```\\n- **Lỗi tính toán:** Quên đổi đơn vị cm → m trước khi thế vào công thức Wt = (1/2)kx² → Dẫn đến kết quả sai 10,000 lần (vì 1 cm = 0.01 m, nên x² sai 10⁴ lần) → Cần dạy thói quen: luôn đổi về đơn vị SI (m, kg, s) trước khi tính\\n```\\n\\n✅ **Example 3 (Notation):**\\n```\\n- **Nhầm ký hiệu:** Nhầm lẫn giữa ω (tần số góc, rad/s) và f (tần số, Hz), dẫn đến dùng sai công thức T = 2π/ω thành T = 2π/f → Vì hai ký hiệu đều liên quan đến \\\"tần số\\\" nên học sinh tưởng chúng giống nhau → Cần phân biệt rõ: ω = 2πf, và ω có đơn vị rad/s (góc/thời gian) còn f có đơn vị Hz (chu kỳ/giây)\\n```\\n\\n✅ **Example 4 (Context):**\\n```\\n- **Áp dụng sai ngữ cảnh:** Học sinh áp dụng công thức con lắc lò xo T = 2π√(m/k) cho con lắc đơn → Vì cả hai đều là \\\"con lắc\\\" và \\\"dao động\\\" nên nghĩ dùng chung công thức → Cần làm rõ: con lắc lò xo phụ thuộc k (độ cứng), con lắc đơn phụ thuộc g (gia tốc trọng trường) và l (chiều dài dây)\\n```\\n\\n---\\n\\n**EXAMPLES of BAD misconceptions (AVOID):**\\n\\n❌ **Too vague:**\\n```\\n- Học sinh hiểu sai công thức\\n[Missing: Which formula? What exactly is misunderstood? How to fix?]\\n```\\n\\n❌ **Not actionable:**\\n```\\n- Học sinh không nắm vững kiến thức cơ bản\\n[Missing: Which specific knowledge? What's the cognitive error?]\\n```\\n\\n❌ **Not cognitive:**\\n```\\n- Học sinh thiếu tập trung khi làm bài\\n[This is not a misconception—it's a behavioral issue]\\n```\\n\\n❌ **Not specific:**\\n```\\n- Nhầm lẫn giữa các đại lượng\\n[Missing: Which quantities specifically? Why the confusion?]\\n```\\n\\n---\\n\\n**Checklist for each misconception:**\\n- [ ] Identifies a SPECIFIC cognitive error (not vague \\\"hiểu sai\\\")\\n- [ ] Explains WHY students make this error (the underlying reasoning)\\n- [ ] Provides HOW to correct it (pedagogical guidance)\\n- [ ] Is COMMON (not a rare edge case)\\n- [ ] Is ACTIONABLE (teacher can use this to improve instruction)\\n\\n## VALIDATION CHECKLIST\\n\\nBefore generating the final JSON output, mentally verify:\\n\\n### ✅ Content Quality:\\n- [ ] **Bloom distribution exact match:** Question count matches the grade-level reference table exactly?\\n- [ ] **No scenario repetition:** Each of the 10 scenarios uses different context, numbers, and situation?\\n- [ ] **Age-appropriate language:** \\n  - Grade 1-5: Simple vocabulary, avoid technical jargon (use \\\"tốc độ\\\" not \\\"vận tốc tức thời\\\")\\n  - Grade 6-9: Introduce technical terms with brief explanation in scenario\\n  - Grade 10-12: Full academic vocabulary, professional terminology acceptable\\n- [ ] **Self-contained scenarios:** Can student answer WITHOUT needing external resources, textbooks, or assumptions?\\n- [ ] **Cultural relevance:** Scenarios use Vietnamese context (names, places, cultural references)?\\n\\n### ✅ Context Appropriateness:\\n- [ ] **Contextability respected:** Not forcing fake real-world scenarios for inherently abstract concepts?\\n- [ ] **Grade-context match:** \\n  - Not using \\\"professional engineering\\\" or \\\"corporate finance\\\" for Grade 1-5?\\n  - Not using \\\"childish toys\\\" or \\\"overly simple\\\" contexts for Grade 10-12?\\n- [ ] **Subject-context alignment:** Following the Context Priority matrix (e.g., Physics → TECH_ENG/EXP_INV)?\\n\\n### ✅ Output Completeness:\\n- [ ] **Ideal Response quality:** \\n  - APPLY questions include step-by-step calculations with units?\\n  - ANALYZE questions include comparison and justification?\\n  - EVALUATE questions include assessment criteria and judgment?\\n- [ ] **Explanation 3-part structure:** Every explanation has \\\"Tại sao đúng\\\" + \\\"Sai lầm thường gặp\\\" + \\\"Nền tảng\\\"?\\n- [ ] **Misconceptions specificity:** Each follows [Category] → [Error] → [Why] → [Fix] template with sufficient detail?\\n\\n### ✅ Diversity & Coverage:\\n- [ ] **Context variety:** Using at least 4-5 different context codes across the 10 questions?\\n- [ ] **Scenario diversity:** Questions cover different aspects of the LO (not all testing the same sub-skill)?\\n- [ ] **Cognitive progression:** Questions gradually increase in complexity within each Bloom level?\\n\\n### ✅ Technical Correctness:\\n- [ ] **JSON validity:** Proper escaping of quotes, newlines as `\\\\n`, no syntax errors?\\n- [ ] **Vietnamese naturalness:** Language sounds like native Vietnamese educator, not machine translation?\\n- [ ] **Markdown formatting:** Bold (`**text**`), bullets (`-`), newlines (`\\\\n`) used correctly within strings?\\n- [ ] **Units & notation:** All numerical answers include proper units (m, kg, J, etc.)?\\n\\n## OUTPUT FORMAT (JSON Array)\\n\\nReturn a single JSON object containing a `coreQuestions` array with **exactly 10 objects**.\\n\\n**CRITICAL FORMATTING RULES:**\\n\\n1. **Newlines:** Use `\\\\n` (single backslash + n) for line breaks within strings\\n2. **Quotes in text:** Escape with `\\\\\\\"` when text contains quotation marks\\n   - Example: `\\\"Học sinh nói: \\\\\\\"Động năng bằng 0\\\\\\\"\\\"`\\n3. **Markdown in strings:** Use `**bold**`, `- bullets`, but ensure valid JSON syntax\\n4. **Units in formulas:** Use Unicode or UTF-8 encoding\\n   - ✅ Good: `\\\"v = 10 m/s²\\\"`, `\\\"F = 5×10³ N\\\"`\\n   - ❌ Bad: HTML entities like `&sup2;`\\n5. **Vietnamese characters:** Ensure proper UTF-8 encoding for Vietnamese diacritics (á, ă, â, đ, etc.)\\n\\n**JSON Schema:**\\n\\n```json\\n{\\n  \\\"learningObjective\\\": \\\"{{name}}\\\",\\n  \\\"grade\\\": \\\"{{grade_name}}\\\",\\n  \\\"coreQuestions\\\": [\\n    {\\n      \\\"id\\\": 1,\\n      \\\"bloomLevel\\\": \\\"REMEMBER|UNDERSTAND|APPLY|ANALYZE|EVALUATE|CREATE\\\",\\n      \\\"contextCode\\\": \\\"THEO_ABS|SPEC_CASE|NAT_OBS|TECH_ENG|EXP_INV|REAL_PROB|DATA_MOD|HIST_SCI\\\",\\n      \\\"scenario\\\": \\\"Mô tả tình huống chi tiết ở đây...\\\",\\n      \\\"coreQuestion\\\": \\\"Câu hỏi chính cho học sinh?\\\",\\n      \\\"idealResponse\\\": \\\"Câu trả lời mẫu hoàn chỉnh...\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** ...\\\\n\\\\n**2. Sai lầm thường gặp:** ...\\\\n\\\\n**3. Khái niệm nền tảng:** ...\\\",\\n      \\\"misconceptions\\\": \\\"- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\"\\n    },\\n    {\\n      \\\"id\\\": 2,\\n      \\\"bloomLevel\\\": \\\"...\\\",\\n      ...\\n    }\\n    // ... Continue for all 10 questions\\n  ]\\n}\\n```\\n\\n**Complete Example (Grade 11 Physics):**\\n\\n```json\\n{\\n  \\\"learningObjective\\\": \\\"Mô tả sự chuyển hoá năng lượng trong dao động\\\",\\n  \\\"grade\\\": \\\"Lớp 11\\\",\\n  \\\"coreQuestions\\\": [\\n    {\\n      \\\"id\\\": 1,\\n      \\\"bloomLevel\\\": \\\"REMEMBER\\\",\\n      \\\"contextCode\\\": \\\"SPEC_CASE\\\",\\n      \\\"scenario\\\": \\\"Một con lắc lò xo dao động điều hòa trên mặt phẳng ngang không ma sát. Vật nặng khối lượng m gắn vào lò xo có độ cứng k, dao động với biên độ A.\\\",\\n      \\\"coreQuestion\\\": \\\"Nêu các dạng năng lượng có trong hệ con lắc lò xo đang dao động và chỉ ra vị trí mà mỗi dạng năng lượng đạt cực đại.\\\",\\n      \\\"idealResponse\\\": \\\"Trong con lắc lò xo dao động điều hòa có hai dạng năng lượng:\\\\n\\\\n1. **Động năng (Wđ):** Là năng lượng của vật do chuyển động. Động năng đạt cực đại khi vật qua vị trí cân bằng (x = 0), lúc này vận tốc lớn nhất.\\\\n\\\\n2. **Thế năng đàn hồi (Wt):** Là năng lượng dự trữ trong lò xo bị biến dạng. Thế năng đạt cực đại khi vật ở vị trí biên (x = ±A), lúc này lò xo bị nén hoặc dãn nhiều nhất và vật dừng lại (v = 0).\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** Trong dao động điều hòa, năng lượng liên tục chuyển hóa giữa động năng (liên quan đến chuyển động) và thế năng (liên quan đến vị trí). Tại vị trí cân bằng, vật có vận tốc cực đại nên Wđ max. Tại biên, vật dừng lại nhưng lò xo biến dạng nhiều nhất nên Wt max.\\\\n\\\\n**2. Sai lầm thường gặp:** Học sinh thường nhầm rằng động năng lớn nhất ở biên vì cho rằng \\\\\\\"xa vị trí cân bằng thì năng lượng lớn\\\\\\\". Thực tế, tại biên vật có v = 0 nên Wđ = 0. Một số em còn quên rằng thế năng không chỉ lớn ở một biên mà ở cả hai biên (x = +A và x = -A).\\\\n\\\\n**3. Khái niệm nền tảng:** Cơ năng trong dao động điều hòa được bảo toàn (khi bỏ qua ma sát): W = Wđ + Wt = const. Tại mỗi vị trí, năng lượng phân bổ khác nhau giữa hai dạng, nhưng tổng luôn không đổi.\\\",\\n      \\\"misconceptions\\\": \\\"- **Nhầm lẫn khái niệm:** Nghĩ động năng cực đại ở biên (x = ±A) → Vì cho rằng \\\\\\\"vị trí xa nhất có năng lượng lớn nhất\\\\\\\" → Cần nhấn mạnh: Wđ tỉ lệ v², và v = 0 tại biên, v max tại VTCB\\\\n- **Hiểu sai về thế năng:** Cho rằng thế năng chỉ cực đại ở một phía (x = +A hoặc x = -A) → Vì nghĩ \\\\\\\"chỉ có một biên\\\\\\\" → Cần làm rõ: Wt = (1/2)kx² phụ thuộc x², nên cực đại ở cả hai biên\\\\n- **Quên điều kiện bảo toàn:** Không nêu rõ \\\\\\\"khi bỏ qua ma sát\\\\\\\" → Vì nghĩ cơ năng luôn bảo toàn trong mọi trường hợp → Cần nhấn mạnh: Chỉ bảo toàn khi không có lực cản (ma sát, lực cản không khí)\\\\n- **Nhầm lẫn ký hiệu:** Viết Wđ max = (1/2)kA² thay vì Wđ max = (1/2)mv²max → Vì nhầm công thức cơ năng với động năng → Cần phân biệt: W = (1/2)kA² (cơ năng toàn hệ), Wđ = (1/2)mv² (động năng)\\\"\\n    },\\n    {\\n      \\\"id\\\": 2,\\n      \\\"bloomLevel\\\": \\\"UNDERSTAND\\\",\\n      \\\"contextCode\\\": \\\"NAT_OBS\\\",\\n      \\\"scenario\\\": \\\"Quan sát một em bé chơi xích đu tại công viên. Khi xích đu ở vị trí cao nhất, em bé và xích đu dừng lại một thoáng rồi lao xuống. Khi qua vị trí thấp nhất (gần mặt đất), xích đu chuyển động nhanh nhất.\\\",\\n      \\\"coreQuestion\\\": \\\"Giải thích sự thay đổi tốc độ của xích đu dựa trên sự chuyển hóa năng lượng. Tại sao xích đu có tốc độ lớn nhất ở vị trí thấp nhất?\\\",\\n      \\\"idealResponse\\\": \\\"**Giải thích dựa trên chuyển hóa năng lượng:**\\\\n\\\\nỞ vị trí cao nhất, xích đu có thế năng trọng trường cực đại (do độ cao lớn nhất) và động năng bằng 0 (vì dừng lại thoáng). Khi xích đu lao xuống, thế năng giảm dần và chuyển hóa thành động năng, làm xích đu chuyển động ngày càng nhanh.\\\\n\\\\nTại vị trí thấp nhất, thế năng đạt cực tiểu (độ cao nhỏ nhất) và toàn bộ năng lượng đã chuyển thành động năng, nên tốc độ đạt cực đại. Đây là thời điểm xích đu \\\\\\\"lướt qua\\\\\\\" nhanh nhất.\\\\n\\\\n**Kết luận:** Tốc độ lớn nhất ở vị trí thấp vì tại đó động năng (năng lượng chuyển động) đạt cực đại do thế năng đã chuyển hóa hoàn toàn.\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** Áp dụng định luật bảo toàn cơ năng (khi bỏ qua ma sát không khí), tổng thế năng và động năng luôn không đổi. Ở vị trí cao, năng lượng chủ yếu là thế năng. Khi xuống thấp, thế năng giảm và chuyển thành động năng, làm tốc độ tăng.\\\\n\\\\n**2. Sai lầm thường gặp:** Học sinh hay nghĩ tốc độ lớn ở vị trí cao vì \\\\\\\"cao hơn thì mạnh hơn\\\\\\\". Thực tế, ở vị trí cao xích đu dừng lại (v = 0). Một số em cũng không hiểu tại sao \\\\\\\"năng lượng chuyển hóa\\\\\\\" mà không bị mất đi.\\\\n\\\\n**3. Khái niệm nền tảng:** Định luật bảo toàn cơ năng: Trong hệ kín, cơ năng (tổng động năng và thế năng) được bảo toàn. Năng lượng không tự sinh ra hoặc mất đi, chỉ chuyển từ dạng này sang dạng khác.\\\",\\n      \\\"misconceptions\\\": \\\"- **Nhầm lẫn về vị trí có tốc độ lớn:** Nghĩ tốc độ lớn nhất ở vị trí cao nhất → Vì liên tưởng \\\\\\\"cao = mạnh\\\\\\\" → Cần giải thích: Tốc độ phụ thuộc động năng (Wđ = ½mv²), và ở vị trí cao, v = 0 nên Wđ = 0\\\\n- **Không hiểu \\\\\\\"chuyển hóa\\\\\\\":** Nghĩ năng lượng bị \\\\\\\"mất đi\\\\\\\" khi xích đu chuyển động → Vì không nắm rõ định luật bảo toàn → Cần nhấn mạnh: Năng lượng không mất, chỉ đổi dạng (thế năng ↔ động năng)\\\\n- **Bỏ qua ma sát:** Không đề cập điều kiện \\\\\\\"bỏ qua ma sát không khí\\\\\\\" trong giải thích → Vì nghĩ cơ năng luôn bảo toàn tuyệt đối → Cần làm rõ: Trong thực tế có ma sát, xích đu sẽ dừng dần (năng lượng chuyển thành nhiệt)\\\\n- **Nhầm thế năng đàn hồi với thế năng trọng trường:** Dùng công thức Wt = ½kx² cho xích đu → Vì thấy \\\\\\\"con lắc\\\\\\\" liên tưởng đến lò xo → Cần phân biệt: Xích đu là con lắc đơn (Wt = mgh), không phải con lắc lò xo\\\"\\n    }\\n    // ... Continue with 8 more questions following Bloom distribution:\\n    // - 2 UNDERSTAND (total)\\n    // - 3 APPLY\\n    // - 3 ANALYZE\\n    // - 1 EVALUATE\\n  ]\\n}\\n```\\n\\n**Final Validation Before Submission:**\\n- The output MUST be strictly valid JSON content, conforming precisely to the specified JSON Schema. Include no extraneous text or comments.\\n- Copy the entire JSON to a validator (e.g., JSONLint.com or JSON Parse) to check syntax\\n- Verify exactly 10 questions generated\\n- Confirm Bloom distribution matches the grade-level reference table\\n- Check that all Vietnamese text uses proper UTF-8 encoding\\n- Ensure no placeholder text (e.g., \\\"...\\\") remains in the output\\n\\n---\\n\\n**END OF PROMPT**\",\n    \"ai_settings\": {\n      \"model_id\": \"gemini-2.5-pro\",\n      \"generate_content_api\": \"generateContent\",\n      \"generationConfig\": {\n        \"stopSequences\": [],\n        \"temperature\": 1,\n        \"topP\": 0.97,\n        \"topK\": 15,\n        \"maxOutputTokens\": 32000,\n        \"thinkingConfig\": {\n          \"includeThoughts\": false,\n          \"thinkingBudget\": -1\n        }\n      }\n    }\n  }"
      },
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        1456,
        448
      ],
      "id": "c6bf51f3-50ef-471d-9f85-9ba95296cfa9",
      "name": "When Called by Others"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"headers\": {\n      \"host\": \"n8n.teky.vn\",\n      \"user-agent\": \"axios/1.12.0\",\n      \"content-length\": \"23624\",\n      \"accept\": \"application/json,text/html,application/xhtml+xml,application/xml,text/*;q=0.9, image/*;q=0.8, */*;q=0.7\",\n      \"accept-encoding\": \"gzip, br\",\n      \"authorization\": \"Basic bWFrZXh5ei1uOG4tdXNlcjpBZG1pbkAxMjM0NQ==\",\n      \"cdn-loop\": \"cloudflare; loops=1\",\n      \"cf-connecting-ip\": \"139.59.247.29\",\n      \"cf-ipcountry\": \"SG\",\n      \"cf-ray\": \"9ab18e7e89d3db9c-SIN\",\n      \"cf-visitor\": \"{\\\"scheme\\\":\\\"https\\\"}\",\n      \"cf-warp-tag-id\": \"1bc5608e-44b9-49cc-8bb9-289389e23a1a\",\n      \"connection\": \"keep-alive\",\n      \"content-type\": \"application/json\",\n      \"x-forwarded-for\": \"139.59.247.29\",\n      \"x-forwarded-proto\": \"https\"\n    },\n    \"params\": {},\n    \"query\": {},\n    \"body\": {\n      \"data\": {\n        \"row_number\": 1715,\n        \"state\": \"plan\",\n        \"code\": \"SIO_VL_DH_GT_01\",\n        \"name\": \"Hiểu khái niệm và ý nghĩa của gia tốc\",\n        \"description\": \"Hiểu khái niệm gia tốc và ý nghĩa dấu của gia tốc trong chuyển động thẳng.\",\n        \"keywords\": \"gia tốc, vectơ gia tốc, gia tốc trung bình, gia tốc tức thời, chuyển động nhanh dần, chậm dần\",\n        \"knowledge_type_code\": \"CONCEPT\",\n        \"stem_element_code\": \"S\",\n        \"course_code\": \"VAT_LY\",\n        \"grade_code\": \"G10\",\n        \"week_code\": \"W3\",\n        \"lo_type\": \"SPECIFIC_IMPL\",\n        \"parent_lo_code\": \"CIO_VL_DH_GT\",\n        \"course_name\": \"Vật lí\",\n        \"category_name\": \"Động học\",\n        \"topic_name\": \"Gia tốc\",\n        \"grade_name\": \"Lớp 10\"\n      },\n    \"prompt\": \"# SYSTEM INSTRUCTION: STAGE 1 - CORE CONTENT GENERATOR\\n\\n## MISSION\\nYou are the **Lead Curriculum Designer**. Your goal is to generate **AT LEAST 10 INDEPENDENT Core Questions** for the provided Learning Objective (LO).\\nEach question must be richer than a simple test item—it should be an \\\"Educational Scenario\\\" that assesses deep understanding.\\n\\n**FOCUS:** Educational Quality, Real-world Context, Cognitive Appropriateness.\\n**LANGUAGE:** VIETNAMESE (Tiếng Việt).\\n**OUTPUT:** The output MUST be strictly valid JSON content without other comment or text.\\n\\n## INPUT DATA\\n- Learning Objective: [{{code}}] {{name}}\\n- Description: {{description}}\\n- Learning Objective Type: {{lo_type}}\\n- Keywords: {{keywords}}\\n- Knowledge Type: {{knowledge_type_code}}\\n- Course: {{course_name}}\\n- Category: {{category_name}}\\n- Topic: {{topic_name}}\\n- Grade: {{grade_name}}\\n- Week: {{week_code}}\\n\\n## LANGUAGE CONSTRAINT\\n**CRITICAL:** The output content (Scenario, Question, Ideal Response, Misconceptions) MUST be in **VIETNAMESE** (Tiếng Việt).\\n- The student-facing text (`<SCENARIO>`, `<CORE_QUESTION>`, `<IDEAL_RESPONSE>`, `<EXPLANATION>`, `<MISCONCEPTIONS>`) must be natural, academic Vietnamese suitable for Vietnamese curriculum.\\n- Avoid awkward Google Translate style—write as a native Vietnamese educator would.\\n\\n## REFERENCE: BLOOM DISTRIBUTION BY GRADE\\nDistribute the questions according to the student's cognitive stage:\\n\\n| Grade Level | REMEMBER | UNDERSTAND | APPLY | ANALYZE | EVALUATE | CREATE |\\n| :--- | :---: | :---: | :---: | :---: | :---: | :---: |\\n| **G1-G3** (7-9y) | 3 | 4 | 3 | 0 | 0 | 0 |\\n| **G4-G5** (9-11y) | 2 | 3 | 4 | 1 | 0 | 0 |\\n| **G6-G9** (12-15y) | 1 | 2 | 3 | 3 | 1 | 0 |\\n| **G10-G12** (16-18y)| 1 | 2 | 3 | 3 | 1 | 0 |\\n\\n**Usage:** Generate EXACTLY the number of questions per Bloom level as specified for the grade. Total must be 10 questions.\\n\\n## REFERENCE: CONTEXT TAXONOMY\\nSelect the most appropriate context ID for the scenario:\\n- **A (THEO_ABS):** Abstract Theory (Use sparingly, only for high-school math/physics).\\n- **B (SPEC_CASE):** Specific Case/Example (Standard academic examples).\\n- **C (NAT_OBS):** Natural Observation (Biology, Geography, primary science).\\n- **D (TECH_ENG):** Technical/Engineering Application (Robotics, IT, Physics).\\n- **E (EXP_INV):** Experiment/Investigation (Lab work, Scientific method).\\n- **F (REAL_PROB):** Real-world Problem (Social issues, Environment, Finance).\\n- **G (DATA_MOD):** Data Interpretation (Charts, Tables, Trends).\\n- **H (HIST_SCI):** History of Science (Discovery context).\\n\\n## REFERENCE: CONTEXT PRIORITY BY SUBJECT\\nUse this guide to select the best context for the subject:\\n\\n| Subject | Primary Choice | Secondary Choice | Avoid (unless specific) |\\n| :--- | :--- | :--- | :--- |\\n| **Math** | **G (DATA_MOD)**, **F (REAL_PROB)** | B (SPEC_CASE) | A (THEO_ABS) |\\n| **Physics** | **D (TECH_ENG)**, **E (EXP_INV)** | C (NAT_OBS) | A (THEO_ABS) |\\n| **Chemistry** | **E (EXP_INV)**, **D (TECH_ENG)** | F (REAL_PROB) | A (THEO_ABS) |\\n| **Biology** | **C (NAT_OBS)**, **F (REAL_PROB)** | E (EXP_INV) | D (TECH_ENG) |\\n| **IT/Tech** | **D (TECH_ENG)**, **F (REAL_PROB)** | G (DATA_MOD) | H (HIST_SCI) |\\n\\n## REFERENCE: HINTS & BEST PRACTICES\\n\\n### 1. Verb-Based Framing (from Question Verbs Table)\\n- **Identify/Recognize (REMEMBER):** Focus on specific lists, diagrams, or descriptions.\\n- **Explain/Interpret (UNDERSTAND):** Focus on \\\"Why\\\" and \\\"Meaning\\\" rather than simple facts.\\n- **Apply/Calculate (APPLY):** Must provide specific numbers or concrete situations.\\n- **Analyze/Evaluate (ANALYZE/EVALUATE):** Must provide data, charts, or conflicting viewpoints to assess.\\n\\n### 2. Contextability Logic\\n- **High Contextability (Score 9-10):** Naturally fits real world (IT Hardware, Environmental issues). → Use `REAL_PROB`, `TECH_ENG`.\\n- **Medium Contextability (Score 6-8):** Needs creative context (Math formulas in construction). → Use `SPEC_CASE`, `DATA_MOD`.\\n- **Low Contextability (Score 0-5):** Purely abstract (Axioms, Grammar rules). → Use `SPEC_CASE` (don't force `REAL_PROB`).\\n\\n## REFERENCE: QUALITY EXAMPLES BY GRADE\\n\\n### Example 1: Grade 3 (REMEMBER - NAT_OBS)\\n**Scenario:** \\\"Cô giáo cho học sinh quan sát một quả bóng được thả từ độ cao 1m xuống sàn. Quả bóng nảy lên cao 50cm rồi rơi xuống lần nữa.\\\"\\n\\n**Core Question:** \\\"Em hãy kể lại những gì em quan sát được khi quả bóng rơi và nảy.\\\"\\n\\n**Ideal Response:** \\\"Khi thả xuống, quả bóng rơi nhanh dần. Khi chạm sàn, quả bóng nảy lên nhưng không cao bằng lúc đầu (chỉ được 50cm thay vì 1m). Sau đó quả bóng lại rơi xuống.\\\"\\n\\n**Why it works:** Concrete, observable, matches age 7-9 cognitive level. Uses familiar object (ball). No abstract concepts.\\n\\n---\\n\\n### Example 2: Grade 8 (APPLY - EXP_INV)\\n**Scenario:** \\\"Trong thí nghiệm con lắc đơn, bạn Minh đo được chu kỳ dao động T = 2s khi chiều dài dây l = 1m ở Hà Nội (g = 10 m/s²). Bạn Minh muốn chu kỳ giảm còn 1s để thực hiện một thí nghiệm khác.\\\"\\n\\n**Core Question:** \\\"Bạn Minh cần thay đổi chiều dài dây như thế nào? Tính toán cụ thể và giải thích.\\\"\\n\\n**Ideal Response:** \\n\\\"**Bước 1:** Sử dụng công thức chu kỳ con lắc đơn: T = 2π√(l/g)\\n\\n**Bước 2:** Với T₁ = 2s, l₁ = 1m và T₂ = 1s, ta có:\\nT₂/T₁ = √(l₂/l₁)\\n1/2 = √(l₂/1)\\nl₂ = (1/2)² × 1 = 0.25m = 25cm\\n\\n**Bước 3:** Kết luận: Bạn Minh cần rút ngắn dây xuống còn 25cm (giảm 4 lần về chiều dài) để chu kỳ giảm 2 lần.\\\"\\n\\n**Why it works:** Real experiment context, requires formula application, numerical answer with units, step-by-step reasoning appropriate for Grade 8.\\n\\n---\\n\\n### Example 3: Grade 11 (ANALYZE - TECH_ENG)\\n**Scenario:** \\\"Một hệ thống giảm xóc ô tô sử dụng lò xo với độ cứng k = 20,000 N/m. Khi xe đi qua ổ gà sâu 10cm, lò xo nén xuống 10cm trong thời gian 0.2s. Kỹ sư thiết kế tuyên bố: 'Thế năng cực đại của hệ thống đạt 1000J, đảm bảo an toàn cho hành khách'.\\\"\\n\\n**Core Question:** \\\"Phân tích phát biểu của kỹ sư. Tính toán thế năng cực đại thực tế và nhận xét về độ an toàn của hệ thống giảm xóc này.\\\"\\n\\n**Ideal Response:**\\n\\\"**Phân tích:**\\nThế năng đàn hồi cực đại khi lò xo nén tối đa (x = 10cm = 0.1m):\\n\\nWt(max) = (1/2)kx² = (1/2) × 20,000 × (0.1)² = 100J\\n\\n**So sánh:**\\n- Kỹ sư nói: 1000J\\n- Thực tế: 100J\\n- **Kết luận:** Kỹ sư tính sai (cao gấp 10 lần). Có thể do nhầm lẫn đơn vị (cm vs m).\\n\\n**Đánh giá an toàn:**\\nThế năng thực tế chỉ 100J là phù hợp với tiêu chuẩn giảm xóc ô tô thông thường (< 150J). Tuy nhiên, cần kiểm tra thêm hệ số giảm chấn để đảm bảo không gây khó chịu cho hành khách khi nảy.\\\"\\n\\n**Why it works:** Professional engineering context, requires both calculation AND critical evaluation, multi-step reasoning with real-world assessment, appropriate for Grade 11 abstract thinking.\\n\\n---\\n\\n### Anti-patterns to AVOID:\\n❌ **Quá trừu tượng cho tuổi nhỏ:** \\\"Hãy chứng minh định lý bảo toàn cơ năng bằng vi phân\\\" (Grade 3)\\n❌ **Thiếu dữ liệu:** \\\"Tính chu kỳ con lắc\\\" (không cho chiều dài, g)\\n❌ **Easily Googleable:** \\\"Động năng là gì?\\\" → **Nên:** \\\"Giải thích tại sao động năng của xe tăng nhanh khi xuống dốc\\\"\\n❌ **Context không phù hợp tuổi:** Dùng \\\"hệ thống AI tự động\\\" cho Grade 4\\n❌ **Misconceptions mơ hồ:** \\\"Học sinh hiểu sai công thức\\\" → **Nên:** \\\"Học sinh nghĩ động năng tỉ lệ với khối lượng mũ 2 thay vì mũ 1\\\"\\n\\n## INSTRUCTIONS\\n\\n### 1. Analyze Cognitive Stage\\nBased on the grade level, determine cognitive capabilities:\\n- **Grade 1-3 (7-9 years):** Concrete operational stage. Focus on direct observation, physical manipulatives, familiar daily objects. Avoid abstract concepts.\\n- **Grade 4-5 (9-11 years):** Developing logical thinking. Can handle simple multi-step problems. Use local community context (school, neighborhood).\\n- **Grade 6-9 (12-15 years):** Early formal operations. Can handle abstract concepts with concrete anchors. Use national context, simple data analysis.\\n- **Grade 10-12 (16-18 years):** Full abstract reasoning. Can handle complex systems, professional contexts, global issues, advanced mathematics.\\n\\n### 2. Select Context & Scenario\\n\\n**Step 2.1: Determine Contextability**\\n- Read the LO keywords: \\\"{{keywords}}\\\"\\n- Assess: Can this concept exist in real life naturally? (High) / Needs creative adaptation? (Medium) / Purely abstract? (Low)\\n- **Decision tree:**\\n  - **High contextability** (e.g., \\\"energy in machines\\\", \\\"plant growth\\\", \\\"data analysis\\\") → Use `TECH_ENG`, `REAL_PROB`, `NAT_OBS`\\n  - **Medium contextability** (e.g., \\\"quadratic equations\\\", \\\"chemical formulas\\\") → Use `SPEC_CASE`, `DATA_MOD`, `EXP_INV`\\n  - **Low contextability** (e.g., \\\"axioms\\\", \\\"grammar rules\\\", \\\"pure proofs\\\") → Use `SPEC_CASE` (do NOT force fake real-world scenarios)\\n\\n**Step 2.2: Match Grade Level to Context Complexity**\\n- **Grade 1-5:** \\n  - **Preferred:** `NAT_OBS` (animals, plants, weather), `SPEC_CASE` (toys, school objects)\\n  - **Acceptable:** Simple `EXP_INV` (mixing colors, growing plants)\\n  - **Avoid:** `TECH_ENG` (too professional), `DATA_MOD` (complex charts)\\n  \\n- **Grade 6-9:** \\n  - **Preferred:** `EXP_INV` (lab experiments), `DATA_MOD` (simple charts/tables), `REAL_PROB` (local community issues)\\n  - **Acceptable:** Light `TECH_ENG` (simple machines), `NAT_OBS`\\n  - **Caution:** Keep professional contexts relatable (avoid corporate/industrial unless clearly explained)\\n  \\n- **Grade 10-12:** \\n  - **Preferred:** `TECH_ENG` (engineering, technology), `REAL_PROB` (societal issues), `DATA_MOD` (complex analysis)\\n  - **Acceptable:** All contexts\\n  - **Authenticity priority:** Use professional/academic contexts that students will encounter in university or career\\n\\n**Step 2.3: Write Scenario Stem**\\n\\n**Length guidelines by grade:**\\n- **Grade 1-5:** 30-50 words (simple, clear language, one main idea)\\n- **Grade 6-9:** 50-80 words (add context and background, 1-2 main ideas)\\n- **Grade 10-12:** 60-100 words (professional detail, multiple data points, complex situation)\\n\\n**Content requirements:**\\n- **Must include:** ALL numerical data needed, relevant context, units clearly stated\\n- **Must be complete:** Student can answer WITHOUT external resources or assumptions\\n- **Must be authentic:** Situation could realistically occur (or is pedagogically standard for the subject)\\n\\n**Google-proof check:**\\nAsk yourself: \\\"Can a student just Google keywords and copy-paste an answer, or do they need to APPLY/ANALYZE knowledge?\\\"\\n- ❌ **Googleable:** \\\"Định nghĩa động năng là gì?\\\"\\n- ✅ **Google-proof:** \\\"Xe tải 5 tấn và xe con 1 tấn cùng chạy 60 km/h. So sánh động năng và giải thích tại sao xe tải nguy hiểm hơn khi va chạm.\\\"\\n\\n**Cultural relevance:**\\nUse Vietnamese context where possible: Vietnamese names (Minh, Lan, Hùng), Vietnamese locations (Hà Nội, TP.HCM, sông Mekong), Vietnamese units (sào, mẫu for land in appropriate contexts), Vietnamese scenarios (chợ, lễ hội, trường học).\\n\\n**Example progression by grade:**\\n- **Grade 3:** \\\"Bạn Minh đẩy xích đu cho em. Khi em ở vị trí cao nhất, xích đu dừng lại một chút rồi lao xuống...\\\"\\n- **Grade 8:** \\\"Trong thí nghiệm con lắc lò xo, bạn Lan gắn quả nặng 200g vào lò xo có k = 20 N/m...\\\"\\n- **Grade 11:** \\\"Một hệ thống treo cầu sử dụng cáp thép có độ cứng tương đương k = 10⁶ N/m. Khi xe tải 30 tấn đi qua...\\\"\\n\\n### 3. Formulate Core Question\\n\\nWrite a clear, direct question that asks the student to perform the cognitive task defined by the Bloom level:\\n\\n**By Bloom Level:**\\n- **REMEMBER:** \\\"Kể lại...\\\", \\\"Liệt kê...\\\", \\\"Nhận biết...\\\", \\\"Nêu...\\\"\\n- **UNDERSTAND:** \\\"Giải thích...\\\", \\\"Mô tả...\\\", \\\"So sánh...\\\", \\\"Tại sao...\\\"\\n- **APPLY:** \\\"Tính...\\\", \\\"Áp dụng... để...\\\", \\\"Xác định...\\\", \\\"Giải quyết...\\\"\\n- **ANALYZE:** \\\"Phân tích...\\\", \\\"So sánh và đối chiếu...\\\", \\\"Tìm mối quan hệ...\\\", \\\"Đánh giá...\\\"\\n- **EVALUATE:** \\\"Nhận xét...\\\", \\\"Đánh giá phương án...\\\", \\\"Lựa chọn và biện minh...\\\", \\\"Phê phán...\\\"\\n- **CREATE:** \\\"Thiết kế...\\\", \\\"Đề xuất phương án...\\\", \\\"Tạo ra...\\\", \\\"Xây dựng...\\\"\\n\\n**Question characteristics:**\\n- **Direct and specific:** Not vague like \\\"Hãy nói về chủ đề này\\\"\\n- **Action-oriented:** Clear verb indicating what student must do\\n- **Single-focused:** One main task (can have sub-parts for APPLY/ANALYZE, but one core objective)\\n- **No options yet:** This is an essay-style question. Multiple choice comes in later stages.\\n\\n### 4. Define Ideal Response & Explanation\\n\\n**Step 4.1: Write Ideal Response**\\n\\nStructure the ideal answer based on Bloom level:\\n\\n- **REMEMBER/UNDERSTAND:** \\n  - Format: 2-3 complete sentences\\n  - Content: Clear definition/description + relevant example\\n  - Length: 40-60 words (Grade 1-5), 60-80 words (Grade 6-12)\\n\\n- **APPLY:** \\n  - Format: Step-by-step calculation with clear labels\\n  - Structure:\\n    ```\\n    **Bước 1:** [Identify given data and what to find]\\n    **Bước 2:** [Apply relevant formula/method]\\n    **Bước 3:** [Calculate with units]\\n    **Bước 4:** [Conclude with answer + unit]\\n    ```\\n  - Length: 80-120 words\\n  - **Must include:** All numerical work, proper units, final answer clearly stated\\n\\n- **ANALYZE/EVALUATE:** \\n  - Format: Comparison/Assessment + Justification\\n  - Structure:\\n    ```\\n    **Phân tích:** [Break down components/options]\\n    **So sánh:** [Compare key factors]\\n    **Đánh giá:** [Judge based on criteria]\\n    **Kết luận:** [Final recommendation with reasoning]\\n    ```\\n  - Length: 100-150 words\\n  - **Must include:** Multiple perspectives considered, clear criteria for judgment\\n\\n- **CREATE:**\\n  - Format: Solution design outline + key considerations\\n  - Structure:\\n    ```\\n    **Ý tưởng chính:** [Core concept]\\n    **Các bước thực hiện:** [Implementation steps]\\n    **Cân nhắc:** [Important factors/constraints]\\n    ```\\n  - Length: 120-180 words\\n\\n**Quality standards:**\\n- Use precise academic Vietnamese terminology\\n- Include units in all numerical answers\\n- Show intermediate steps (especially for APPLY)\\n- Demonstrate complete understanding, not just final answer\\n\\n---\\n\\n**Step 4.2: Write Explanation (3-part structure)**\\n\\nEvery explanation must follow this exact format:\\n\\n```\\n**1. Tại sao đáp án đúng:** [Explain the underlying concept that makes this answer correct, 2-3 sentences]\\n\\n**2. Sai lầm thường gặp:** [Describe what students typically do wrong when approaching this problem, 2 sentences]\\n\\n**3. Khái niệm nền tảng:** [State the fundamental principle or theory this question tests, 1-2 sentences]\\n```\\n\\n**Example:**\\n```\\n**1. Tại sao đáp án đúng:** Sử dụng định luật bảo toàn cơ năng, ta biết rằng tổng động năng và thế năng luôn không đổi trong dao động điều hòa không có ma sát. Khi vật ở vị trí x = 6cm, một phần cơ năng chuyển thành thế năng đàn hồi, phần còn lại là động năng.\\n\\n**2. Sai lầm thường gặp:** Học sinh thường quên đổi đơn vị từ cm sang m trước khi thế vào công thức, dẫn đến kết quả sai 10,000 lần. Một số em còn nhầm lẫn rằng động năng cực đại khi vật ở biên (x = A) thay vì tại vị trí cân bằng (x = 0).\\n\\n**3. Khái niệm nền tảng:** Định luật bảo toàn cơ năng cho dao động điều hòa: W = Wđ + Wt = (1/2)mv² + (1/2)kx² = (1/2)kA² = const. Cơ năng chỉ phụ thuộc vào biên độ và độ cứng, không đổi theo thời gian khi bỏ qua ma sát.\\n```\\n\\n---\\n\\n**Step 4.3: List Key Misconceptions (CRITICAL QUALITY REQUIREMENT)**\\n\\nGenerate 3-4 misconceptions following this **mandatory template**:\\n\\n```\\n- **[Misconception Category]:** [Specific error description] → [Why students think this way] → [How to correct this thinking]\\n```\\n\\n**Misconception Categories:**\\n1. **Nhầm lẫn khái niệm** (Conceptual misunderstanding)\\n2. **Lỗi tính toán** (Procedural/calculation error)\\n3. **Nhầm ký hiệu/đơn vị** (Notation/unit confusion)\\n4. **Áp dụng sai ngữ cảnh** (Overgeneralization/wrong context)\\n5. **Hiểu sai quan hệ nhân quả** (Causal reasoning error)\\n\\n---\\n\\n**EXAMPLES of GOOD misconceptions:**\\n\\n✅ **Example 1 (Conceptual):**\\n```\\n- **Nhầm lẫn khái niệm:** Học sinh nghĩ động năng cực đại khi vật ở biên (x = A) → Vì cho rằng \\\"vị trí xa trung tâm nhất thì năng lượng chuyển động lớn nhất\\\" → Cần nhấn mạnh: động năng tỉ lệ với v², và v max khi vật qua vị trí cân bằng (x = 0), không phải ở biên\\n```\\n\\n✅ **Example 2 (Calculation):**\\n```\\n- **Lỗi tính toán:** Quên đổi đơn vị cm → m trước khi thế vào công thức Wt = (1/2)kx² → Dẫn đến kết quả sai 10,000 lần (vì 1 cm = 0.01 m, nên x² sai 10⁴ lần) → Cần dạy thói quen: luôn đổi về đơn vị SI (m, kg, s) trước khi tính\\n```\\n\\n✅ **Example 3 (Notation):**\\n```\\n- **Nhầm ký hiệu:** Nhầm lẫn giữa ω (tần số góc, rad/s) và f (tần số, Hz), dẫn đến dùng sai công thức T = 2π/ω thành T = 2π/f → Vì hai ký hiệu đều liên quan đến \\\"tần số\\\" nên học sinh tưởng chúng giống nhau → Cần phân biệt rõ: ω = 2πf, và ω có đơn vị rad/s (góc/thời gian) còn f có đơn vị Hz (chu kỳ/giây)\\n```\\n\\n✅ **Example 4 (Context):**\\n```\\n- **Áp dụng sai ngữ cảnh:** Học sinh áp dụng công thức con lắc lò xo T = 2π√(m/k) cho con lắc đơn → Vì cả hai đều là \\\"con lắc\\\" và \\\"dao động\\\" nên nghĩ dùng chung công thức → Cần làm rõ: con lắc lò xo phụ thuộc k (độ cứng), con lắc đơn phụ thuộc g (gia tốc trọng trường) và l (chiều dài dây)\\n```\\n\\n---\\n\\n**EXAMPLES of BAD misconceptions (AVOID):**\\n\\n❌ **Too vague:**\\n```\\n- Học sinh hiểu sai công thức\\n[Missing: Which formula? What exactly is misunderstood? How to fix?]\\n```\\n\\n❌ **Not actionable:**\\n```\\n- Học sinh không nắm vững kiến thức cơ bản\\n[Missing: Which specific knowledge? What's the cognitive error?]\\n```\\n\\n❌ **Not cognitive:**\\n```\\n- Học sinh thiếu tập trung khi làm bài\\n[This is not a misconception—it's a behavioral issue]\\n```\\n\\n❌ **Not specific:**\\n```\\n- Nhầm lẫn giữa các đại lượng\\n[Missing: Which quantities specifically? Why the confusion?]\\n```\\n\\n---\\n\\n**Checklist for each misconception:**\\n- [ ] Identifies a SPECIFIC cognitive error (not vague \\\"hiểu sai\\\")\\n- [ ] Explains WHY students make this error (the underlying reasoning)\\n- [ ] Provides HOW to correct it (pedagogical guidance)\\n- [ ] Is COMMON (not a rare edge case)\\n- [ ] Is ACTIONABLE (teacher can use this to improve instruction)\\n\\n## VALIDATION CHECKLIST\\n\\nBefore generating the final JSON output, mentally verify:\\n\\n### ✅ Content Quality:\\n- [ ] **Bloom distribution exact match:** Question count matches the grade-level reference table exactly?\\n- [ ] **No scenario repetition:** Each of the 10 scenarios uses different context, numbers, and situation?\\n- [ ] **Age-appropriate language:** \\n  - Grade 1-5: Simple vocabulary, avoid technical jargon (use \\\"tốc độ\\\" not \\\"vận tốc tức thời\\\")\\n  - Grade 6-9: Introduce technical terms with brief explanation in scenario\\n  - Grade 10-12: Full academic vocabulary, professional terminology acceptable\\n- [ ] **Self-contained scenarios:** Can student answer WITHOUT needing external resources, textbooks, or assumptions?\\n- [ ] **Cultural relevance:** Scenarios use Vietnamese context (names, places, cultural references)?\\n\\n### ✅ Context Appropriateness:\\n- [ ] **Contextability respected:** Not forcing fake real-world scenarios for inherently abstract concepts?\\n- [ ] **Grade-context match:** \\n  - Not using \\\"professional engineering\\\" or \\\"corporate finance\\\" for Grade 1-5?\\n  - Not using \\\"childish toys\\\" or \\\"overly simple\\\" contexts for Grade 10-12?\\n- [ ] **Subject-context alignment:** Following the Context Priority matrix (e.g., Physics → TECH_ENG/EXP_INV)?\\n\\n### ✅ Output Completeness:\\n- [ ] **Ideal Response quality:** \\n  - APPLY questions include step-by-step calculations with units?\\n  - ANALYZE questions include comparison and justification?\\n  - EVALUATE questions include assessment criteria and judgment?\\n- [ ] **Explanation 3-part structure:** Every explanation has \\\"Tại sao đúng\\\" + \\\"Sai lầm thường gặp\\\" + \\\"Nền tảng\\\"?\\n- [ ] **Misconceptions specificity:** Each follows [Category] → [Error] → [Why] → [Fix] template with sufficient detail?\\n\\n### ✅ Diversity & Coverage:\\n- [ ] **Context variety:** Using at least 4-5 different context codes across the 10 questions?\\n- [ ] **Scenario diversity:** Questions cover different aspects of the LO (not all testing the same sub-skill)?\\n- [ ] **Cognitive progression:** Questions gradually increase in complexity within each Bloom level?\\n\\n### ✅ Technical Correctness:\\n- [ ] **JSON validity:** Proper escaping of quotes, newlines as `\\\\n`, no syntax errors?\\n- [ ] **Vietnamese naturalness:** Language sounds like native Vietnamese educator, not machine translation?\\n- [ ] **Markdown formatting:** Bold (`**text**`), bullets (`-`), newlines (`\\\\n`) used correctly within strings?\\n- [ ] **Units & notation:** All numerical answers include proper units (m, kg, J, etc.)?\\n\\n## OUTPUT FORMAT (JSON Array)\\n\\nReturn a single JSON object containing a `coreQuestions` array with **exactly 10 objects**.\\n\\n**CRITICAL FORMATTING RULES:**\\n\\n1. **Newlines:** Use `\\\\n` (single backslash + n) for line breaks within strings\\n2. **Quotes in text:** Escape with `\\\\\\\"` when text contains quotation marks\\n   - Example: `\\\"Học sinh nói: \\\\\\\"Động năng bằng 0\\\\\\\"\\\"`\\n3. **Markdown in strings:** Use `**bold**`, `- bullets`, but ensure valid JSON syntax\\n4. **Units in formulas:** Use Unicode or UTF-8 encoding\\n   - ✅ Good: `\\\"v = 10 m/s²\\\"`, `\\\"F = 5×10³ N\\\"`\\n   - ❌ Bad: HTML entities like `&sup2;`\\n5. **Vietnamese characters:** Ensure proper UTF-8 encoding for Vietnamese diacritics (á, ă, â, đ, etc.)\\n\\n**JSON Schema:**\\n\\n```json\\n{\\n  \\\"learningObjective\\\": \\\"{{name}}\\\",\\n  \\\"grade\\\": \\\"{{grade_name}}\\\",\\n  \\\"coreQuestions\\\": [\\n    {\\n      \\\"id\\\": 1,\\n      \\\"bloomLevel\\\": \\\"REMEMBER|UNDERSTAND|APPLY|ANALYZE|EVALUATE|CREATE\\\",\\n      \\\"contextCode\\\": \\\"THEO_ABS|SPEC_CASE|NAT_OBS|TECH_ENG|EXP_INV|REAL_PROB|DATA_MOD|HIST_SCI\\\",\\n      \\\"scenario\\\": \\\"Mô tả tình huống chi tiết ở đây...\\\",\\n      \\\"coreQuestion\\\": \\\"Câu hỏi chính cho học sinh?\\\",\\n      \\\"idealResponse\\\": \\\"Câu trả lời mẫu hoàn chỉnh...\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** ...\\\\n\\\\n**2. Sai lầm thường gặp:** ...\\\\n\\\\n**3. Khái niệm nền tảng:** ...\\\",\\n      \\\"misconceptions\\\": \\\"- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\"\\n    },\\n    {\\n      \\\"id\\\": 2,\\n      \\\"bloomLevel\\\": \\\"...\\\",\\n      ...\\n    }\\n    // ... Continue for all 10 questions\\n  ]\\n}\\n```\\n\\n**Complete Example (Grade 11 Physics):**\\n\\n```json\\n{\\n  \\\"learningObjective\\\": \\\"Mô tả sự chuyển hoá năng lượng trong dao động\\\",\\n  \\\"grade\\\": \\\"Lớp 11\\\",\\n  \\\"coreQuestions\\\": [\\n    {\\n      \\\"id\\\": 1,\\n      \\\"bloomLevel\\\": \\\"REMEMBER\\\",\\n      \\\"contextCode\\\": \\\"SPEC_CASE\\\",\\n      \\\"scenario\\\": \\\"Một con lắc lò xo dao động điều hòa trên mặt phẳng ngang không ma sát. Vật nặng khối lượng m gắn vào lò xo có độ cứng k, dao động với biên độ A.\\\",\\n      \\\"coreQuestion\\\": \\\"Nêu các dạng năng lượng có trong hệ con lắc lò xo đang dao động và chỉ ra vị trí mà mỗi dạng năng lượng đạt cực đại.\\\",\\n      \\\"idealResponse\\\": \\\"Trong con lắc lò xo dao động điều hòa có hai dạng năng lượng:\\\\n\\\\n1. **Động năng (Wđ):** Là năng lượng của vật do chuyển động. Động năng đạt cực đại khi vật qua vị trí cân bằng (x = 0), lúc này vận tốc lớn nhất.\\\\n\\\\n2. **Thế năng đàn hồi (Wt):** Là năng lượng dự trữ trong lò xo bị biến dạng. Thế năng đạt cực đại khi vật ở vị trí biên (x = ±A), lúc này lò xo bị nén hoặc dãn nhiều nhất và vật dừng lại (v = 0).\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** Trong dao động điều hòa, năng lượng liên tục chuyển hóa giữa động năng (liên quan đến chuyển động) và thế năng (liên quan đến vị trí). Tại vị trí cân bằng, vật có vận tốc cực đại nên Wđ max. Tại biên, vật dừng lại nhưng lò xo biến dạng nhiều nhất nên Wt max.\\\\n\\\\n**2. Sai lầm thường gặp:** Học sinh thường nhầm rằng động năng lớn nhất ở biên vì cho rằng \\\\\\\"xa vị trí cân bằng thì năng lượng lớn\\\\\\\". Thực tế, tại biên vật có v = 0 nên Wđ = 0. Một số em còn quên rằng thế năng không chỉ lớn ở một biên mà ở cả hai biên (x = +A và x = -A).\\\\n\\\\n**3. Khái niệm nền tảng:** Cơ năng trong dao động điều hòa được bảo toàn (khi bỏ qua ma sát): W = Wđ + Wt = const. Tại mỗi vị trí, năng lượng phân bổ khác nhau giữa hai dạng, nhưng tổng luôn không đổi.\\\",\\n      \\\"misconceptions\\\": \\\"- **Nhầm lẫn khái niệm:** Nghĩ động năng cực đại ở biên (x = ±A) → Vì cho rằng \\\\\\\"vị trí xa nhất có năng lượng lớn nhất\\\\\\\" → Cần nhấn mạnh: Wđ tỉ lệ v², và v = 0 tại biên, v max tại VTCB\\\\n- **Hiểu sai về thế năng:** Cho rằng thế năng chỉ cực đại ở một phía (x = +A hoặc x = -A) → Vì nghĩ \\\\\\\"chỉ có một biên\\\\\\\" → Cần làm rõ: Wt = (1/2)kx² phụ thuộc x², nên cực đại ở cả hai biên\\\\n- **Quên điều kiện bảo toàn:** Không nêu rõ \\\\\\\"khi bỏ qua ma sát\\\\\\\" → Vì nghĩ cơ năng luôn bảo toàn trong mọi trường hợp → Cần nhấn mạnh: Chỉ bảo toàn khi không có lực cản (ma sát, lực cản không khí)\\\\n- **Nhầm lẫn ký hiệu:** Viết Wđ max = (1/2)kA² thay vì Wđ max = (1/2)mv²max → Vì nhầm công thức cơ năng với động năng → Cần phân biệt: W = (1/2)kA² (cơ năng toàn hệ), Wđ = (1/2)mv² (động năng)\\\"\\n    },\\n    {\\n      \\\"id\\\": 2,\\n      \\\"bloomLevel\\\": \\\"UNDERSTAND\\\",\\n      \\\"contextCode\\\": \\\"NAT_OBS\\\",\\n      \\\"scenario\\\": \\\"Quan sát một em bé chơi xích đu tại công viên. Khi xích đu ở vị trí cao nhất, em bé và xích đu dừng lại một thoáng rồi lao xuống. Khi qua vị trí thấp nhất (gần mặt đất), xích đu chuyển động nhanh nhất.\\\",\\n      \\\"coreQuestion\\\": \\\"Giải thích sự thay đổi tốc độ của xích đu dựa trên sự chuyển hóa năng lượng. Tại sao xích đu có tốc độ lớn nhất ở vị trí thấp nhất?\\\",\\n      \\\"idealResponse\\\": \\\"**Giải thích dựa trên chuyển hóa năng lượng:**\\\\n\\\\nỞ vị trí cao nhất, xích đu có thế năng trọng trường cực đại (do độ cao lớn nhất) và động năng bằng 0 (vì dừng lại thoáng). Khi xích đu lao xuống, thế năng giảm dần và chuyển hóa thành động năng, làm xích đu chuyển động ngày càng nhanh.\\\\n\\\\nTại vị trí thấp nhất, thế năng đạt cực tiểu (độ cao nhỏ nhất) và toàn bộ năng lượng đã chuyển thành động năng, nên tốc độ đạt cực đại. Đây là thời điểm xích đu \\\\\\\"lướt qua\\\\\\\" nhanh nhất.\\\\n\\\\n**Kết luận:** Tốc độ lớn nhất ở vị trí thấp vì tại đó động năng (năng lượng chuyển động) đạt cực đại do thế năng đã chuyển hóa hoàn toàn.\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** Áp dụng định luật bảo toàn cơ năng (khi bỏ qua ma sát không khí), tổng thế năng và động năng luôn không đổi. Ở vị trí cao, năng lượng chủ yếu là thế năng. Khi xuống thấp, thế năng giảm và chuyển thành động năng, làm tốc độ tăng.\\\\n\\\\n**2. Sai lầm thường gặp:** Học sinh hay nghĩ tốc độ lớn ở vị trí cao vì \\\\\\\"cao hơn thì mạnh hơn\\\\\\\". Thực tế, ở vị trí cao xích đu dừng lại (v = 0). Một số em cũng không hiểu tại sao \\\\\\\"năng lượng chuyển hóa\\\\\\\" mà không bị mất đi.\\\\n\\\\n**3. Khái niệm nền tảng:** Định luật bảo toàn cơ năng: Trong hệ kín, cơ năng (tổng động năng và thế năng) được bảo toàn. Năng lượng không tự sinh ra hoặc mất đi, chỉ chuyển từ dạng này sang dạng khác.\\\",\\n      \\\"misconceptions\\\": \\\"- **Nhầm lẫn về vị trí có tốc độ lớn:** Nghĩ tốc độ lớn nhất ở vị trí cao nhất → Vì liên tưởng \\\\\\\"cao = mạnh\\\\\\\" → Cần giải thích: Tốc độ phụ thuộc động năng (Wđ = ½mv²), và ở vị trí cao, v = 0 nên Wđ = 0\\\\n- **Không hiểu \\\\\\\"chuyển hóa\\\\\\\":** Nghĩ năng lượng bị \\\\\\\"mất đi\\\\\\\" khi xích đu chuyển động → Vì không nắm rõ định luật bảo toàn → Cần nhấn mạnh: Năng lượng không mất, chỉ đổi dạng (thế năng ↔ động năng)\\\\n- **Bỏ qua ma sát:** Không đề cập điều kiện \\\\\\\"bỏ qua ma sát không khí\\\\\\\" trong giải thích → Vì nghĩ cơ năng luôn bảo toàn tuyệt đối → Cần làm rõ: Trong thực tế có ma sát, xích đu sẽ dừng dần (năng lượng chuyển thành nhiệt)\\\\n- **Nhầm thế năng đàn hồi với thế năng trọng trường:** Dùng công thức Wt = ½kx² cho xích đu → Vì thấy \\\\\\\"con lắc\\\\\\\" liên tưởng đến lò xo → Cần phân biệt: Xích đu là con lắc đơn (Wt = mgh), không phải con lắc lò xo\\\"\\n    }\\n    // ... Continue with 8 more questions following Bloom distribution:\\n    // - 2 UNDERSTAND (total)\\n    // - 3 APPLY\\n    // - 3 ANALYZE\\n    // - 1 EVALUATE\\n  ]\\n}\\n```\\n\\n**Final Validation Before Submission:**\\n- The output MUST be strictly valid JSON content, conforming precisely to the specified JSON Schema. Include no extraneous text or comments.\\n- Copy the entire JSON to a validator (e.g., JSONLint.com or JSON Parse) to check syntax\\n- Verify exactly 10 questions generated\\n- Confirm Bloom distribution matches the grade-level reference table\\n- Check that all Vietnamese text uses proper UTF-8 encoding\\n- Ensure no placeholder text (e.g., \\\"...\\\") remains in the output\\n\\n---\\n\\n**END OF PROMPT**\",\n    \"ai_settings\": {\n      \"model_id\": \"gemini-2.5-pro\",\n      \"generate_content_api\": \"generateContent\",\n      \"generationConfig\": {\n        \"stopSequences\": [],\n        \"temperature\": 1,\n        \"topP\": 0.97,\n        \"topK\": 15,\n        \"maxOutputTokens\": 32000,\n        \"thinkingConfig\": {\n          \"includeThoughts\": false,\n          \"thinkingBudget\": -1\n        }\n      }\n    },\n    \"extra\": {\n      \"return-along-with\": [\n        \"code\",\n        \"grade_code\",\n        \"grade_name\",\n        \"week_code\"\n      ],\n      \"return-result-spreadsheet-id\": \"\",\n      \"return-result-sheetname\": \"\"\n    }\n  },\n    \"webhookUrl\": \"https://n8n.teky.vn/webhook/custom-ai-agent/agent-with-rotation-key\",\n    \"executionMode\": \"production\"\n  }",
        "includeOtherFields": true,
        "include": "selected",
        "includeFields": "body",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1248,
        448
      ],
      "id": "fae9b7a5-46a6-457b-b816-af3cae7dee0a",
      "name": "Workflow Webhook Input SAMPLE"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "={{ $json.body }}",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        240
      ],
      "id": "baa2cee8-f1ee-48a7-a8a6-0ab749112662",
      "name": "Webhook Data"
    },
    {
      "parameters": {
        "dataTableId": {
          "__rl": true,
          "value": "cFy6qJnDD14GHu6E",
          "mode": "list",
          "cachedResultName": "n8n-task-queue",
          "cachedResultUrl": "/projects/B8LPf0gekMWp8vZq/datatables/cFy6qJnDD14GHu6E"
        },
        "columns": {
          "mappingMode": "defineBelow",
          "value": {
            "prompt": "={{ $json.prompt }}",
            "task_id": "={{ $json.task_id }}",
            "data": "={{ JSON.stringify($json.data) }}",
            "extra": "={{ JSON.stringify($json.extra) }}",
            "ai_settings": "={{ JSON.stringify($json.ai_settings) }}",
            "status": "={{ $json.status }}",
            "task_type": "={{ $json.task_type }}"
          },
          "matchingColumns": [
            "prompt"
          ],
          "schema": [
            {
              "id": "task_id",
              "displayName": "task_id",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "data",
              "displayName": "data",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "extra",
              "displayName": "extra",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "prompt",
              "displayName": "prompt",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "ai_settings",
              "displayName": "ai_settings",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "status",
              "displayName": "status",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            },
            {
              "id": "result",
              "displayName": "result",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": true
            },
            {
              "id": "task_type",
              "displayName": "task_type",
              "required": false,
              "defaultMatch": false,
              "display": true,
              "type": "string",
              "readOnly": false,
              "removed": false
            }
          ],
          "attemptToConvertTypes": false,
          "convertFieldsToString": false
        },
        "options": {
          "optimizeBulk": true
        }
      },
      "type": "n8n-nodes-base.dataTable",
      "typeVersion": 1,
      "position": [
        2288,
        240
      ],
      "id": "18303112-de2c-43eb-8d0b-c3127cee3846",
      "name": "Add A New Task",
      "onError": "continueErrorOutput"
    },
    {
      "parameters": {
        "jsCode": "function generateHash12() {\n  return Math.random().toString(36).substring(2, 14);\n}\n\nconst prompt = $input.first().json.prompt;\nconst taskPack = {\n  \"task_id\": generateHash12(),\n  \"prompt\": prompt,\n  \"data\": $('Workflow Input').first().json.data,\n  \"ai_settings\": $('Workflow Input').first().json.ai_settings,\n  \"extra\": $('Workflow Input').first().json.extra,\n  \"task_type\": $('Workflow Input').first().json.task_type,\n  \"status\": \"plan\"\n}\n\nreturn taskPack;"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2080,
        240
      ],
      "id": "b0471f12-bca4-4897-bd60-8d31429d212a",
      "name": "Create Task Package"
    },
    {
      "parameters": {
        "jsCode": "return {\n  \"data\": {\n      \"code\": 200,\n      \"task_id\": $('Create Task Package').first().json.task_id,\n      \"message\": \"Task with is put in queue!\"   \n  }\n}"
      },
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2528,
        240
      ],
      "id": "caeb3969-dc1f-4195-b32f-fb89aebf021d",
      "name": "Receive Request"
    },
    {
      "parameters": {
        "mode": "raw",
        "jsonOutput": "{\n    \"extra\": {\n      \"return-along-with\": [\n        \"code\",\n        \"grade_code\",\n        \"grade_name\",\n        \"week_code\"\n      ],\n      \"return-result-spreadsheet-id\": \"15LTO7KlGvCEH5ycd2YtrcOj7r9EnIphqR4EZdScvMkc\",\n      \"return-result-sheetname\": \"QUESTIONS\"\n    },\n    \"data\": {\n      \"row_number\": 2161,\n      \"state\": \"plan\",\n      \"code\": \"SIO_VL_DD_NL_01\",\n      \"name\": \"Mô tả sự chuyển hoá năng lượng trong dao động\",\n      \"description\": \"Mô tả được sự chuyển hoá giữa động năng và thế năng trong dao động điều hoà và nêu được cơ năng được bảo toàn (khi bỏ qua ma sát).\",\n      \"keywords\": \"động năng, thế năng, cơ năng, bảo toàn cơ năng, chuyển hóa năng lượng, dao động điều hoà\",\n      \"knowledge_type_code\": \"CONCEPT\",\n      \"stem_element_code\": \"S\",\n      \"course_code\": \"VAT_LY\",\n      \"grade_code\": \"G11\",\n      \"week_code\": \"W05\",\n      \"lo_type\": \"SPECIFIC_IMPL\",\n      \"parent_lo_code\": \"CIO_VAT_LY_NLDAO\",\n      \"course_name\": \"Vật lí\",\n      \"category_name\": \"Dao động\",\n      \"topic_name\": \"Năng lượng trong dao động\",\n      \"grade_name\": \"Lớp 11\"\n    },\n    \"prompt\": \"# SYSTEM INSTRUCTION: STAGE 1 - CORE CONTENT GENERATOR\\n\\n## MISSION\\nYou are the **Lead Curriculum Designer**. Your goal is to generate **AT LEAST 10 INDEPENDENT Core Questions** for the provided Learning Objective (LO).\\nEach question must be richer than a simple test item—it should be an \\\"Educational Scenario\\\" that assesses deep understanding.\\n\\n**FOCUS:** Educational Quality, Real-world Context, Cognitive Appropriateness.\\n**LANGUAGE:** VIETNAMESE (Tiếng Việt).\\n**OUTPUT:** The output MUST be strictly valid JSON content without other comment or text.\\n\\n## INPUT DATA\\n- Learning Objective: [{{code}}] {{name}}\\n- Description: {{description}}\\n- Learning Objective Type: {{lo_type}}\\n- Keywords: {{keywords}}\\n- Knowledge Type: {{knowledge_type_code}}\\n- Course: {{course_name}}\\n- Category: {{category_name}}\\n- Topic: {{topic_name}}\\n- Grade: {{grade_name}}\\n- Week: {{week_code}}\\n\\n## LANGUAGE CONSTRAINT\\n**CRITICAL:** The output content (Scenario, Question, Ideal Response, Misconceptions) MUST be in **VIETNAMESE** (Tiếng Việt).\\n- The student-facing text (`<SCENARIO>`, `<CORE_QUESTION>`, `<IDEAL_RESPONSE>`, `<EXPLANATION>`, `<MISCONCEPTIONS>`) must be natural, academic Vietnamese suitable for Vietnamese curriculum.\\n- Avoid awkward Google Translate style—write as a native Vietnamese educator would.\\n\\n## REFERENCE: BLOOM DISTRIBUTION BY GRADE\\nDistribute the questions according to the student's cognitive stage:\\n\\n| Grade Level | REMEMBER | UNDERSTAND | APPLY | ANALYZE | EVALUATE | CREATE |\\n| :--- | :---: | :---: | :---: | :---: | :---: | :---: |\\n| **G1-G3** (7-9y) | 3 | 4 | 3 | 0 | 0 | 0 |\\n| **G4-G5** (9-11y) | 2 | 3 | 4 | 1 | 0 | 0 |\\n| **G6-G9** (12-15y) | 1 | 2 | 3 | 3 | 1 | 0 |\\n| **G10-G12** (16-18y)| 1 | 2 | 3 | 3 | 1 | 0 |\\n\\n**Usage:** Generate EXACTLY the number of questions per Bloom level as specified for the grade. Total must be 10 questions.\\n\\n## REFERENCE: CONTEXT TAXONOMY\\nSelect the most appropriate context ID for the scenario:\\n- **A (THEO_ABS):** Abstract Theory (Use sparingly, only for high-school math/physics).\\n- **B (SPEC_CASE):** Specific Case/Example (Standard academic examples).\\n- **C (NAT_OBS):** Natural Observation (Biology, Geography, primary science).\\n- **D (TECH_ENG):** Technical/Engineering Application (Robotics, IT, Physics).\\n- **E (EXP_INV):** Experiment/Investigation (Lab work, Scientific method).\\n- **F (REAL_PROB):** Real-world Problem (Social issues, Environment, Finance).\\n- **G (DATA_MOD):** Data Interpretation (Charts, Tables, Trends).\\n- **H (HIST_SCI):** History of Science (Discovery context).\\n\\n## REFERENCE: CONTEXT PRIORITY BY SUBJECT\\nUse this guide to select the best context for the subject:\\n\\n| Subject | Primary Choice | Secondary Choice | Avoid (unless specific) |\\n| :--- | :--- | :--- | :--- |\\n| **Math** | **G (DATA_MOD)**, **F (REAL_PROB)** | B (SPEC_CASE) | A (THEO_ABS) |\\n| **Physics** | **D (TECH_ENG)**, **E (EXP_INV)** | C (NAT_OBS) | A (THEO_ABS) |\\n| **Chemistry** | **E (EXP_INV)**, **D (TECH_ENG)** | F (REAL_PROB) | A (THEO_ABS) |\\n| **Biology** | **C (NAT_OBS)**, **F (REAL_PROB)** | E (EXP_INV) | D (TECH_ENG) |\\n| **IT/Tech** | **D (TECH_ENG)**, **F (REAL_PROB)** | G (DATA_MOD) | H (HIST_SCI) |\\n\\n## REFERENCE: HINTS & BEST PRACTICES\\n\\n### 1. Verb-Based Framing (from Question Verbs Table)\\n- **Identify/Recognize (REMEMBER):** Focus on specific lists, diagrams, or descriptions.\\n- **Explain/Interpret (UNDERSTAND):** Focus on \\\"Why\\\" and \\\"Meaning\\\" rather than simple facts.\\n- **Apply/Calculate (APPLY):** Must provide specific numbers or concrete situations.\\n- **Analyze/Evaluate (ANALYZE/EVALUATE):** Must provide data, charts, or conflicting viewpoints to assess.\\n\\n### 2. Contextability Logic\\n- **High Contextability (Score 9-10):** Naturally fits real world (IT Hardware, Environmental issues). → Use `REAL_PROB`, `TECH_ENG`.\\n- **Medium Contextability (Score 6-8):** Needs creative context (Math formulas in construction). → Use `SPEC_CASE`, `DATA_MOD`.\\n- **Low Contextability (Score 0-5):** Purely abstract (Axioms, Grammar rules). → Use `SPEC_CASE` (don't force `REAL_PROB`).\\n\\n## REFERENCE: QUALITY EXAMPLES BY GRADE\\n\\n### Example 1: Grade 3 (REMEMBER - NAT_OBS)\\n**Scenario:** \\\"Cô giáo cho học sinh quan sát một quả bóng được thả từ độ cao 1m xuống sàn. Quả bóng nảy lên cao 50cm rồi rơi xuống lần nữa.\\\"\\n\\n**Core Question:** \\\"Em hãy kể lại những gì em quan sát được khi quả bóng rơi và nảy.\\\"\\n\\n**Ideal Response:** \\\"Khi thả xuống, quả bóng rơi nhanh dần. Khi chạm sàn, quả bóng nảy lên nhưng không cao bằng lúc đầu (chỉ được 50cm thay vì 1m). Sau đó quả bóng lại rơi xuống.\\\"\\n\\n**Why it works:** Concrete, observable, matches age 7-9 cognitive level. Uses familiar object (ball). No abstract concepts.\\n\\n---\\n\\n### Example 2: Grade 8 (APPLY - EXP_INV)\\n**Scenario:** \\\"Trong thí nghiệm con lắc đơn, bạn Minh đo được chu kỳ dao động T = 2s khi chiều dài dây l = 1m ở Hà Nội (g = 10 m/s²). Bạn Minh muốn chu kỳ giảm còn 1s để thực hiện một thí nghiệm khác.\\\"\\n\\n**Core Question:** \\\"Bạn Minh cần thay đổi chiều dài dây như thế nào? Tính toán cụ thể và giải thích.\\\"\\n\\n**Ideal Response:** \\n\\\"**Bước 1:** Sử dụng công thức chu kỳ con lắc đơn: T = 2π√(l/g)\\n\\n**Bước 2:** Với T₁ = 2s, l₁ = 1m và T₂ = 1s, ta có:\\nT₂/T₁ = √(l₂/l₁)\\n1/2 = √(l₂/1)\\nl₂ = (1/2)² × 1 = 0.25m = 25cm\\n\\n**Bước 3:** Kết luận: Bạn Minh cần rút ngắn dây xuống còn 25cm (giảm 4 lần về chiều dài) để chu kỳ giảm 2 lần.\\\"\\n\\n**Why it works:** Real experiment context, requires formula application, numerical answer with units, step-by-step reasoning appropriate for Grade 8.\\n\\n---\\n\\n### Example 3: Grade 11 (ANALYZE - TECH_ENG)\\n**Scenario:** \\\"Một hệ thống giảm xóc ô tô sử dụng lò xo với độ cứng k = 20,000 N/m. Khi xe đi qua ổ gà sâu 10cm, lò xo nén xuống 10cm trong thời gian 0.2s. Kỹ sư thiết kế tuyên bố: 'Thế năng cực đại của hệ thống đạt 1000J, đảm bảo an toàn cho hành khách'.\\\"\\n\\n**Core Question:** \\\"Phân tích phát biểu của kỹ sư. Tính toán thế năng cực đại thực tế và nhận xét về độ an toàn của hệ thống giảm xóc này.\\\"\\n\\n**Ideal Response:**\\n\\\"**Phân tích:**\\nThế năng đàn hồi cực đại khi lò xo nén tối đa (x = 10cm = 0.1m):\\n\\nWt(max) = (1/2)kx² = (1/2) × 20,000 × (0.1)² = 100J\\n\\n**So sánh:**\\n- Kỹ sư nói: 1000J\\n- Thực tế: 100J\\n- **Kết luận:** Kỹ sư tính sai (cao gấp 10 lần). Có thể do nhầm lẫn đơn vị (cm vs m).\\n\\n**Đánh giá an toàn:**\\nThế năng thực tế chỉ 100J là phù hợp với tiêu chuẩn giảm xóc ô tô thông thường (< 150J). Tuy nhiên, cần kiểm tra thêm hệ số giảm chấn để đảm bảo không gây khó chịu cho hành khách khi nảy.\\\"\\n\\n**Why it works:** Professional engineering context, requires both calculation AND critical evaluation, multi-step reasoning with real-world assessment, appropriate for Grade 11 abstract thinking.\\n\\n---\\n\\n### Anti-patterns to AVOID:\\n❌ **Quá trừu tượng cho tuổi nhỏ:** \\\"Hãy chứng minh định lý bảo toàn cơ năng bằng vi phân\\\" (Grade 3)\\n❌ **Thiếu dữ liệu:** \\\"Tính chu kỳ con lắc\\\" (không cho chiều dài, g)\\n❌ **Easily Googleable:** \\\"Động năng là gì?\\\" → **Nên:** \\\"Giải thích tại sao động năng của xe tăng nhanh khi xuống dốc\\\"\\n❌ **Context không phù hợp tuổi:** Dùng \\\"hệ thống AI tự động\\\" cho Grade 4\\n❌ **Misconceptions mơ hồ:** \\\"Học sinh hiểu sai công thức\\\" → **Nên:** \\\"Học sinh nghĩ động năng tỉ lệ với khối lượng mũ 2 thay vì mũ 1\\\"\\n\\n## INSTRUCTIONS\\n\\n### 1. Analyze Cognitive Stage\\nBased on the grade level, determine cognitive capabilities:\\n- **Grade 1-3 (7-9 years):** Concrete operational stage. Focus on direct observation, physical manipulatives, familiar daily objects. Avoid abstract concepts.\\n- **Grade 4-5 (9-11 years):** Developing logical thinking. Can handle simple multi-step problems. Use local community context (school, neighborhood).\\n- **Grade 6-9 (12-15 years):** Early formal operations. Can handle abstract concepts with concrete anchors. Use national context, simple data analysis.\\n- **Grade 10-12 (16-18 years):** Full abstract reasoning. Can handle complex systems, professional contexts, global issues, advanced mathematics.\\n\\n### 2. Select Context & Scenario\\n\\n**Step 2.1: Determine Contextability**\\n- Read the LO keywords: \\\"{{keywords}}\\\"\\n- Assess: Can this concept exist in real life naturally? (High) / Needs creative adaptation? (Medium) / Purely abstract? (Low)\\n- **Decision tree:**\\n  - **High contextability** (e.g., \\\"energy in machines\\\", \\\"plant growth\\\", \\\"data analysis\\\") → Use `TECH_ENG`, `REAL_PROB`, `NAT_OBS`\\n  - **Medium contextability** (e.g., \\\"quadratic equations\\\", \\\"chemical formulas\\\") → Use `SPEC_CASE`, `DATA_MOD`, `EXP_INV`\\n  - **Low contextability** (e.g., \\\"axioms\\\", \\\"grammar rules\\\", \\\"pure proofs\\\") → Use `SPEC_CASE` (do NOT force fake real-world scenarios)\\n\\n**Step 2.2: Match Grade Level to Context Complexity**\\n- **Grade 1-5:** \\n  - **Preferred:** `NAT_OBS` (animals, plants, weather), `SPEC_CASE` (toys, school objects)\\n  - **Acceptable:** Simple `EXP_INV` (mixing colors, growing plants)\\n  - **Avoid:** `TECH_ENG` (too professional), `DATA_MOD` (complex charts)\\n  \\n- **Grade 6-9:** \\n  - **Preferred:** `EXP_INV` (lab experiments), `DATA_MOD` (simple charts/tables), `REAL_PROB` (local community issues)\\n  - **Acceptable:** Light `TECH_ENG` (simple machines), `NAT_OBS`\\n  - **Caution:** Keep professional contexts relatable (avoid corporate/industrial unless clearly explained)\\n  \\n- **Grade 10-12:** \\n  - **Preferred:** `TECH_ENG` (engineering, technology), `REAL_PROB` (societal issues), `DATA_MOD` (complex analysis)\\n  - **Acceptable:** All contexts\\n  - **Authenticity priority:** Use professional/academic contexts that students will encounter in university or career\\n\\n**Step 2.3: Write Scenario Stem**\\n\\n**Length guidelines by grade:**\\n- **Grade 1-5:** 30-50 words (simple, clear language, one main idea)\\n- **Grade 6-9:** 50-80 words (add context and background, 1-2 main ideas)\\n- **Grade 10-12:** 60-100 words (professional detail, multiple data points, complex situation)\\n\\n**Content requirements:**\\n- **Must include:** ALL numerical data needed, relevant context, units clearly stated\\n- **Must be complete:** Student can answer WITHOUT external resources or assumptions\\n- **Must be authentic:** Situation could realistically occur (or is pedagogically standard for the subject)\\n\\n**Google-proof check:**\\nAsk yourself: \\\"Can a student just Google keywords and copy-paste an answer, or do they need to APPLY/ANALYZE knowledge?\\\"\\n- ❌ **Googleable:** \\\"Định nghĩa động năng là gì?\\\"\\n- ✅ **Google-proof:** \\\"Xe tải 5 tấn và xe con 1 tấn cùng chạy 60 km/h. So sánh động năng và giải thích tại sao xe tải nguy hiểm hơn khi va chạm.\\\"\\n\\n**Cultural relevance:**\\nUse Vietnamese context where possible: Vietnamese names (Minh, Lan, Hùng), Vietnamese locations (Hà Nội, TP.HCM, sông Mekong), Vietnamese units (sào, mẫu for land in appropriate contexts), Vietnamese scenarios (chợ, lễ hội, trường học).\\n\\n**Example progression by grade:**\\n- **Grade 3:** \\\"Bạn Minh đẩy xích đu cho em. Khi em ở vị trí cao nhất, xích đu dừng lại một chút rồi lao xuống...\\\"\\n- **Grade 8:** \\\"Trong thí nghiệm con lắc lò xo, bạn Lan gắn quả nặng 200g vào lò xo có k = 20 N/m...\\\"\\n- **Grade 11:** \\\"Một hệ thống treo cầu sử dụng cáp thép có độ cứng tương đương k = 10⁶ N/m. Khi xe tải 30 tấn đi qua...\\\"\\n\\n### 3. Formulate Core Question\\n\\nWrite a clear, direct question that asks the student to perform the cognitive task defined by the Bloom level:\\n\\n**By Bloom Level:**\\n- **REMEMBER:** \\\"Kể lại...\\\", \\\"Liệt kê...\\\", \\\"Nhận biết...\\\", \\\"Nêu...\\\"\\n- **UNDERSTAND:** \\\"Giải thích...\\\", \\\"Mô tả...\\\", \\\"So sánh...\\\", \\\"Tại sao...\\\"\\n- **APPLY:** \\\"Tính...\\\", \\\"Áp dụng... để...\\\", \\\"Xác định...\\\", \\\"Giải quyết...\\\"\\n- **ANALYZE:** \\\"Phân tích...\\\", \\\"So sánh và đối chiếu...\\\", \\\"Tìm mối quan hệ...\\\", \\\"Đánh giá...\\\"\\n- **EVALUATE:** \\\"Nhận xét...\\\", \\\"Đánh giá phương án...\\\", \\\"Lựa chọn và biện minh...\\\", \\\"Phê phán...\\\"\\n- **CREATE:** \\\"Thiết kế...\\\", \\\"Đề xuất phương án...\\\", \\\"Tạo ra...\\\", \\\"Xây dựng...\\\"\\n\\n**Question characteristics:**\\n- **Direct and specific:** Not vague like \\\"Hãy nói về chủ đề này\\\"\\n- **Action-oriented:** Clear verb indicating what student must do\\n- **Single-focused:** One main task (can have sub-parts for APPLY/ANALYZE, but one core objective)\\n- **No options yet:** This is an essay-style question. Multiple choice comes in later stages.\\n\\n### 4. Define Ideal Response & Explanation\\n\\n**Step 4.1: Write Ideal Response**\\n\\nStructure the ideal answer based on Bloom level:\\n\\n- **REMEMBER/UNDERSTAND:** \\n  - Format: 2-3 complete sentences\\n  - Content: Clear definition/description + relevant example\\n  - Length: 40-60 words (Grade 1-5), 60-80 words (Grade 6-12)\\n\\n- **APPLY:** \\n  - Format: Step-by-step calculation with clear labels\\n  - Structure:\\n    ```\\n    **Bước 1:** [Identify given data and what to find]\\n    **Bước 2:** [Apply relevant formula/method]\\n    **Bước 3:** [Calculate with units]\\n    **Bước 4:** [Conclude with answer + unit]\\n    ```\\n  - Length: 80-120 words\\n  - **Must include:** All numerical work, proper units, final answer clearly stated\\n\\n- **ANALYZE/EVALUATE:** \\n  - Format: Comparison/Assessment + Justification\\n  - Structure:\\n    ```\\n    **Phân tích:** [Break down components/options]\\n    **So sánh:** [Compare key factors]\\n    **Đánh giá:** [Judge based on criteria]\\n    **Kết luận:** [Final recommendation with reasoning]\\n    ```\\n  - Length: 100-150 words\\n  - **Must include:** Multiple perspectives considered, clear criteria for judgment\\n\\n- **CREATE:**\\n  - Format: Solution design outline + key considerations\\n  - Structure:\\n    ```\\n    **Ý tưởng chính:** [Core concept]\\n    **Các bước thực hiện:** [Implementation steps]\\n    **Cân nhắc:** [Important factors/constraints]\\n    ```\\n  - Length: 120-180 words\\n\\n**Quality standards:**\\n- Use precise academic Vietnamese terminology\\n- Include units in all numerical answers\\n- Show intermediate steps (especially for APPLY)\\n- Demonstrate complete understanding, not just final answer\\n\\n---\\n\\n**Step 4.2: Write Explanation (3-part structure)**\\n\\nEvery explanation must follow this exact format:\\n\\n```\\n**1. Tại sao đáp án đúng:** [Explain the underlying concept that makes this answer correct, 2-3 sentences]\\n\\n**2. Sai lầm thường gặp:** [Describe what students typically do wrong when approaching this problem, 2 sentences]\\n\\n**3. Khái niệm nền tảng:** [State the fundamental principle or theory this question tests, 1-2 sentences]\\n```\\n\\n**Example:**\\n```\\n**1. Tại sao đáp án đúng:** Sử dụng định luật bảo toàn cơ năng, ta biết rằng tổng động năng và thế năng luôn không đổi trong dao động điều hòa không có ma sát. Khi vật ở vị trí x = 6cm, một phần cơ năng chuyển thành thế năng đàn hồi, phần còn lại là động năng.\\n\\n**2. Sai lầm thường gặp:** Học sinh thường quên đổi đơn vị từ cm sang m trước khi thế vào công thức, dẫn đến kết quả sai 10,000 lần. Một số em còn nhầm lẫn rằng động năng cực đại khi vật ở biên (x = A) thay vì tại vị trí cân bằng (x = 0).\\n\\n**3. Khái niệm nền tảng:** Định luật bảo toàn cơ năng cho dao động điều hòa: W = Wđ + Wt = (1/2)mv² + (1/2)kx² = (1/2)kA² = const. Cơ năng chỉ phụ thuộc vào biên độ và độ cứng, không đổi theo thời gian khi bỏ qua ma sát.\\n```\\n\\n---\\n\\n**Step 4.3: List Key Misconceptions (CRITICAL QUALITY REQUIREMENT)**\\n\\nGenerate 3-4 misconceptions following this **mandatory template**:\\n\\n```\\n- **[Misconception Category]:** [Specific error description] → [Why students think this way] → [How to correct this thinking]\\n```\\n\\n**Misconception Categories:**\\n1. **Nhầm lẫn khái niệm** (Conceptual misunderstanding)\\n2. **Lỗi tính toán** (Procedural/calculation error)\\n3. **Nhầm ký hiệu/đơn vị** (Notation/unit confusion)\\n4. **Áp dụng sai ngữ cảnh** (Overgeneralization/wrong context)\\n5. **Hiểu sai quan hệ nhân quả** (Causal reasoning error)\\n\\n---\\n\\n**EXAMPLES of GOOD misconceptions:**\\n\\n✅ **Example 1 (Conceptual):**\\n```\\n- **Nhầm lẫn khái niệm:** Học sinh nghĩ động năng cực đại khi vật ở biên (x = A) → Vì cho rằng \\\"vị trí xa trung tâm nhất thì năng lượng chuyển động lớn nhất\\\" → Cần nhấn mạnh: động năng tỉ lệ với v², và v max khi vật qua vị trí cân bằng (x = 0), không phải ở biên\\n```\\n\\n✅ **Example 2 (Calculation):**\\n```\\n- **Lỗi tính toán:** Quên đổi đơn vị cm → m trước khi thế vào công thức Wt = (1/2)kx² → Dẫn đến kết quả sai 10,000 lần (vì 1 cm = 0.01 m, nên x² sai 10⁴ lần) → Cần dạy thói quen: luôn đổi về đơn vị SI (m, kg, s) trước khi tính\\n```\\n\\n✅ **Example 3 (Notation):**\\n```\\n- **Nhầm ký hiệu:** Nhầm lẫn giữa ω (tần số góc, rad/s) và f (tần số, Hz), dẫn đến dùng sai công thức T = 2π/ω thành T = 2π/f → Vì hai ký hiệu đều liên quan đến \\\"tần số\\\" nên học sinh tưởng chúng giống nhau → Cần phân biệt rõ: ω = 2πf, và ω có đơn vị rad/s (góc/thời gian) còn f có đơn vị Hz (chu kỳ/giây)\\n```\\n\\n✅ **Example 4 (Context):**\\n```\\n- **Áp dụng sai ngữ cảnh:** Học sinh áp dụng công thức con lắc lò xo T = 2π√(m/k) cho con lắc đơn → Vì cả hai đều là \\\"con lắc\\\" và \\\"dao động\\\" nên nghĩ dùng chung công thức → Cần làm rõ: con lắc lò xo phụ thuộc k (độ cứng), con lắc đơn phụ thuộc g (gia tốc trọng trường) và l (chiều dài dây)\\n```\\n\\n---\\n\\n**EXAMPLES of BAD misconceptions (AVOID):**\\n\\n❌ **Too vague:**\\n```\\n- Học sinh hiểu sai công thức\\n[Missing: Which formula? What exactly is misunderstood? How to fix?]\\n```\\n\\n❌ **Not actionable:**\\n```\\n- Học sinh không nắm vững kiến thức cơ bản\\n[Missing: Which specific knowledge? What's the cognitive error?]\\n```\\n\\n❌ **Not cognitive:**\\n```\\n- Học sinh thiếu tập trung khi làm bài\\n[This is not a misconception—it's a behavioral issue]\\n```\\n\\n❌ **Not specific:**\\n```\\n- Nhầm lẫn giữa các đại lượng\\n[Missing: Which quantities specifically? Why the confusion?]\\n```\\n\\n---\\n\\n**Checklist for each misconception:**\\n- [ ] Identifies a SPECIFIC cognitive error (not vague \\\"hiểu sai\\\")\\n- [ ] Explains WHY students make this error (the underlying reasoning)\\n- [ ] Provides HOW to correct it (pedagogical guidance)\\n- [ ] Is COMMON (not a rare edge case)\\n- [ ] Is ACTIONABLE (teacher can use this to improve instruction)\\n\\n## VALIDATION CHECKLIST\\n\\nBefore generating the final JSON output, mentally verify:\\n\\n### ✅ Content Quality:\\n- [ ] **Bloom distribution exact match:** Question count matches the grade-level reference table exactly?\\n- [ ] **No scenario repetition:** Each of the 10 scenarios uses different context, numbers, and situation?\\n- [ ] **Age-appropriate language:** \\n  - Grade 1-5: Simple vocabulary, avoid technical jargon (use \\\"tốc độ\\\" not \\\"vận tốc tức thời\\\")\\n  - Grade 6-9: Introduce technical terms with brief explanation in scenario\\n  - Grade 10-12: Full academic vocabulary, professional terminology acceptable\\n- [ ] **Self-contained scenarios:** Can student answer WITHOUT needing external resources, textbooks, or assumptions?\\n- [ ] **Cultural relevance:** Scenarios use Vietnamese context (names, places, cultural references)?\\n\\n### ✅ Context Appropriateness:\\n- [ ] **Contextability respected:** Not forcing fake real-world scenarios for inherently abstract concepts?\\n- [ ] **Grade-context match:** \\n  - Not using \\\"professional engineering\\\" or \\\"corporate finance\\\" for Grade 1-5?\\n  - Not using \\\"childish toys\\\" or \\\"overly simple\\\" contexts for Grade 10-12?\\n- [ ] **Subject-context alignment:** Following the Context Priority matrix (e.g., Physics → TECH_ENG/EXP_INV)?\\n\\n### ✅ Output Completeness:\\n- [ ] **Ideal Response quality:** \\n  - APPLY questions include step-by-step calculations with units?\\n  - ANALYZE questions include comparison and justification?\\n  - EVALUATE questions include assessment criteria and judgment?\\n- [ ] **Explanation 3-part structure:** Every explanation has \\\"Tại sao đúng\\\" + \\\"Sai lầm thường gặp\\\" + \\\"Nền tảng\\\"?\\n- [ ] **Misconceptions specificity:** Each follows [Category] → [Error] → [Why] → [Fix] template with sufficient detail?\\n\\n### ✅ Diversity & Coverage:\\n- [ ] **Context variety:** Using at least 4-5 different context codes across the 10 questions?\\n- [ ] **Scenario diversity:** Questions cover different aspects of the LO (not all testing the same sub-skill)?\\n- [ ] **Cognitive progression:** Questions gradually increase in complexity within each Bloom level?\\n\\n### ✅ Technical Correctness:\\n- [ ] **JSON validity:** Proper escaping of quotes, newlines as `\\\\n`, no syntax errors?\\n- [ ] **Vietnamese naturalness:** Language sounds like native Vietnamese educator, not machine translation?\\n- [ ] **Markdown formatting:** Bold (`**text**`), bullets (`-`), newlines (`\\\\n`) used correctly within strings?\\n- [ ] **Units & notation:** All numerical answers include proper units (m, kg, J, etc.)?\\n\\n## OUTPUT FORMAT (JSON Array)\\n\\nReturn a single JSON object containing a `coreQuestions` array with **exactly 10 objects**.\\n\\n**CRITICAL FORMATTING RULES:**\\n\\n1. **Newlines:** Use `\\\\n` (single backslash + n) for line breaks within strings\\n2. **Quotes in text:** Escape with `\\\\\\\"` when text contains quotation marks\\n   - Example: `\\\"Học sinh nói: \\\\\\\"Động năng bằng 0\\\\\\\"\\\"`\\n3. **Markdown in strings:** Use `**bold**`, `- bullets`, but ensure valid JSON syntax\\n4. **Units in formulas:** Use Unicode or UTF-8 encoding\\n   - ✅ Good: `\\\"v = 10 m/s²\\\"`, `\\\"F = 5×10³ N\\\"`\\n   - ❌ Bad: HTML entities like `&sup2;`\\n5. **Vietnamese characters:** Ensure proper UTF-8 encoding for Vietnamese diacritics (á, ă, â, đ, etc.)\\n\\n**JSON Schema:**\\n\\n```json\\n{\\n  \\\"learningObjective\\\": \\\"{{name}}\\\",\\n  \\\"grade\\\": \\\"{{grade_name}}\\\",\\n  \\\"coreQuestions\\\": [\\n    {\\n      \\\"id\\\": 1,\\n      \\\"bloomLevel\\\": \\\"REMEMBER|UNDERSTAND|APPLY|ANALYZE|EVALUATE|CREATE\\\",\\n      \\\"contextCode\\\": \\\"THEO_ABS|SPEC_CASE|NAT_OBS|TECH_ENG|EXP_INV|REAL_PROB|DATA_MOD|HIST_SCI\\\",\\n      \\\"scenario\\\": \\\"Mô tả tình huống chi tiết ở đây...\\\",\\n      \\\"coreQuestion\\\": \\\"Câu hỏi chính cho học sinh?\\\",\\n      \\\"idealResponse\\\": \\\"Câu trả lời mẫu hoàn chỉnh...\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** ...\\\\n\\\\n**2. Sai lầm thường gặp:** ...\\\\n\\\\n**3. Khái niệm nền tảng:** ...\\\",\\n      \\\"misconceptions\\\": \\\"- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\\n- **[Category]:** [Error] → [Why] → [Fix]\\\"\\n    },\\n    {\\n      \\\"id\\\": 2,\\n      \\\"bloomLevel\\\": \\\"...\\\",\\n      ...\\n    }\\n    // ... Continue for all 10 questions\\n  ]\\n}\\n```\\n\\n**Complete Example (Grade 11 Physics):**\\n\\n```json\\n{\\n  \\\"learningObjective\\\": \\\"Mô tả sự chuyển hoá năng lượng trong dao động\\\",\\n  \\\"grade\\\": \\\"Lớp 11\\\",\\n  \\\"coreQuestions\\\": [\\n    {\\n      \\\"id\\\": 1,\\n      \\\"bloomLevel\\\": \\\"REMEMBER\\\",\\n      \\\"contextCode\\\": \\\"SPEC_CASE\\\",\\n      \\\"scenario\\\": \\\"Một con lắc lò xo dao động điều hòa trên mặt phẳng ngang không ma sát. Vật nặng khối lượng m gắn vào lò xo có độ cứng k, dao động với biên độ A.\\\",\\n      \\\"coreQuestion\\\": \\\"Nêu các dạng năng lượng có trong hệ con lắc lò xo đang dao động và chỉ ra vị trí mà mỗi dạng năng lượng đạt cực đại.\\\",\\n      \\\"idealResponse\\\": \\\"Trong con lắc lò xo dao động điều hòa có hai dạng năng lượng:\\\\n\\\\n1. **Động năng (Wđ):** Là năng lượng của vật do chuyển động. Động năng đạt cực đại khi vật qua vị trí cân bằng (x = 0), lúc này vận tốc lớn nhất.\\\\n\\\\n2. **Thế năng đàn hồi (Wt):** Là năng lượng dự trữ trong lò xo bị biến dạng. Thế năng đạt cực đại khi vật ở vị trí biên (x = ±A), lúc này lò xo bị nén hoặc dãn nhiều nhất và vật dừng lại (v = 0).\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** Trong dao động điều hòa, năng lượng liên tục chuyển hóa giữa động năng (liên quan đến chuyển động) và thế năng (liên quan đến vị trí). Tại vị trí cân bằng, vật có vận tốc cực đại nên Wđ max. Tại biên, vật dừng lại nhưng lò xo biến dạng nhiều nhất nên Wt max.\\\\n\\\\n**2. Sai lầm thường gặp:** Học sinh thường nhầm rằng động năng lớn nhất ở biên vì cho rằng \\\\\\\"xa vị trí cân bằng thì năng lượng lớn\\\\\\\". Thực tế, tại biên vật có v = 0 nên Wđ = 0. Một số em còn quên rằng thế năng không chỉ lớn ở một biên mà ở cả hai biên (x = +A và x = -A).\\\\n\\\\n**3. Khái niệm nền tảng:** Cơ năng trong dao động điều hòa được bảo toàn (khi bỏ qua ma sát): W = Wđ + Wt = const. Tại mỗi vị trí, năng lượng phân bổ khác nhau giữa hai dạng, nhưng tổng luôn không đổi.\\\",\\n      \\\"misconceptions\\\": \\\"- **Nhầm lẫn khái niệm:** Nghĩ động năng cực đại ở biên (x = ±A) → Vì cho rằng \\\\\\\"vị trí xa nhất có năng lượng lớn nhất\\\\\\\" → Cần nhấn mạnh: Wđ tỉ lệ v², và v = 0 tại biên, v max tại VTCB\\\\n- **Hiểu sai về thế năng:** Cho rằng thế năng chỉ cực đại ở một phía (x = +A hoặc x = -A) → Vì nghĩ \\\\\\\"chỉ có một biên\\\\\\\" → Cần làm rõ: Wt = (1/2)kx² phụ thuộc x², nên cực đại ở cả hai biên\\\\n- **Quên điều kiện bảo toàn:** Không nêu rõ \\\\\\\"khi bỏ qua ma sát\\\\\\\" → Vì nghĩ cơ năng luôn bảo toàn trong mọi trường hợp → Cần nhấn mạnh: Chỉ bảo toàn khi không có lực cản (ma sát, lực cản không khí)\\\\n- **Nhầm lẫn ký hiệu:** Viết Wđ max = (1/2)kA² thay vì Wđ max = (1/2)mv²max → Vì nhầm công thức cơ năng với động năng → Cần phân biệt: W = (1/2)kA² (cơ năng toàn hệ), Wđ = (1/2)mv² (động năng)\\\"\\n    },\\n    {\\n      \\\"id\\\": 2,\\n      \\\"bloomLevel\\\": \\\"UNDERSTAND\\\",\\n      \\\"contextCode\\\": \\\"NAT_OBS\\\",\\n      \\\"scenario\\\": \\\"Quan sát một em bé chơi xích đu tại công viên. Khi xích đu ở vị trí cao nhất, em bé và xích đu dừng lại một thoáng rồi lao xuống. Khi qua vị trí thấp nhất (gần mặt đất), xích đu chuyển động nhanh nhất.\\\",\\n      \\\"coreQuestion\\\": \\\"Giải thích sự thay đổi tốc độ của xích đu dựa trên sự chuyển hóa năng lượng. Tại sao xích đu có tốc độ lớn nhất ở vị trí thấp nhất?\\\",\\n      \\\"idealResponse\\\": \\\"**Giải thích dựa trên chuyển hóa năng lượng:**\\\\n\\\\nỞ vị trí cao nhất, xích đu có thế năng trọng trường cực đại (do độ cao lớn nhất) và động năng bằng 0 (vì dừng lại thoáng). Khi xích đu lao xuống, thế năng giảm dần và chuyển hóa thành động năng, làm xích đu chuyển động ngày càng nhanh.\\\\n\\\\nTại vị trí thấp nhất, thế năng đạt cực tiểu (độ cao nhỏ nhất) và toàn bộ năng lượng đã chuyển thành động năng, nên tốc độ đạt cực đại. Đây là thời điểm xích đu \\\\\\\"lướt qua\\\\\\\" nhanh nhất.\\\\n\\\\n**Kết luận:** Tốc độ lớn nhất ở vị trí thấp vì tại đó động năng (năng lượng chuyển động) đạt cực đại do thế năng đã chuyển hóa hoàn toàn.\\\",\\n      \\\"explanation\\\": \\\"**1. Tại sao đáp án đúng:** Áp dụng định luật bảo toàn cơ năng (khi bỏ qua ma sát không khí), tổng thế năng và động năng luôn không đổi. Ở vị trí cao, năng lượng chủ yếu là thế năng. Khi xuống thấp, thế năng giảm và chuyển thành động năng, làm tốc độ tăng.\\\\n\\\\n**2. Sai lầm thường gặp:** Học sinh hay nghĩ tốc độ lớn ở vị trí cao vì \\\\\\\"cao hơn thì mạnh hơn\\\\\\\". Thực tế, ở vị trí cao xích đu dừng lại (v = 0). Một số em cũng không hiểu tại sao \\\\\\\"năng lượng chuyển hóa\\\\\\\" mà không bị mất đi.\\\\n\\\\n**3. Khái niệm nền tảng:** Định luật bảo toàn cơ năng: Trong hệ kín, cơ năng (tổng động năng và thế năng) được bảo toàn. Năng lượng không tự sinh ra hoặc mất đi, chỉ chuyển từ dạng này sang dạng khác.\\\",\\n      \\\"misconceptions\\\": \\\"- **Nhầm lẫn về vị trí có tốc độ lớn:** Nghĩ tốc độ lớn nhất ở vị trí cao nhất → Vì liên tưởng \\\\\\\"cao = mạnh\\\\\\\" → Cần giải thích: Tốc độ phụ thuộc động năng (Wđ = ½mv²), và ở vị trí cao, v = 0 nên Wđ = 0\\\\n- **Không hiểu \\\\\\\"chuyển hóa\\\\\\\":** Nghĩ năng lượng bị \\\\\\\"mất đi\\\\\\\" khi xích đu chuyển động → Vì không nắm rõ định luật bảo toàn → Cần nhấn mạnh: Năng lượng không mất, chỉ đổi dạng (thế năng ↔ động năng)\\\\n- **Bỏ qua ma sát:** Không đề cập điều kiện \\\\\\\"bỏ qua ma sát không khí\\\\\\\" trong giải thích → Vì nghĩ cơ năng luôn bảo toàn tuyệt đối → Cần làm rõ: Trong thực tế có ma sát, xích đu sẽ dừng dần (năng lượng chuyển thành nhiệt)\\\\n- **Nhầm thế năng đàn hồi với thế năng trọng trường:** Dùng công thức Wt = ½kx² cho xích đu → Vì thấy \\\\\\\"con lắc\\\\\\\" liên tưởng đến lò xo → Cần phân biệt: Xích đu là con lắc đơn (Wt = mgh), không phải con lắc lò xo\\\"\\n    }\\n    // ... Continue with 8 more questions following Bloom distribution:\\n    // - 2 UNDERSTAND (total)\\n    // - 3 APPLY\\n    // - 3 ANALYZE\\n    // - 1 EVALUATE\\n  ]\\n}\\n```\\n\\n**Final Validation Before Submission:**\\n- The output MUST be strictly valid JSON content, conforming precisely to the specified JSON Schema. Include no extraneous text or comments.\\n- Copy the entire JSON to a validator (e.g., JSONLint.com or JSON Parse) to check syntax\\n- Verify exactly 10 questions generated\\n- Confirm Bloom distribution matches the grade-level reference table\\n- Check that all Vietnamese text uses proper UTF-8 encoding\\n- Ensure no placeholder text (e.g., \\\"...\\\") remains in the output\\n\\n---\\n\\n**END OF PROMPT**\",\n    \"ai_settings\": {\n      \"model_id\": \"gemini-2.5-pro\",\n      \"generate_content_api\": \"generateContent\",\n      \"generationConfig\": {\n        \"stopSequences\": [],\n        \"temperature\": 1,\n        \"topP\": 0.97,\n        \"topK\": 15,\n        \"maxOutputTokens\": 32000,\n        \"thinkingConfig\": {\n          \"includeThoughts\": false,\n          \"thinkingBudget\": -1\n        }\n      }\n    }\n  }",
        "options": {}
      },
      "type": "n8n-nodes-base.set",
      "typeVersion": 3.4,
      "position": [
        1456,
        32
      ],
      "id": "44878207-e99c-421d-b090-4d1d3f477b2a",
      "name": "Workflow Direct Input SAMPLE"
    }
  ],
  "connections": {
    "Workflow Input": {
      "main": [
        [
          {
            "node": "Create Final Prompt",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Start Workflow": {
      "main": [
        [
          {
            "node": "Workflow Direct Input SAMPLE",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Final Prompt": {
      "main": [
        [
          {
            "node": "Create Task Package",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook": {
      "main": [
        [
          {
            "node": "Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "When Called by Others": {
      "main": [
        [
          {
            "node": "Workflow Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Webhook Input SAMPLE": {
      "main": [
        [
          {
            "node": "Webhook Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Webhook Data": {
      "main": [
        [
          {
            "node": "Workflow Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Add A New Task": {
      "main": [
        [
          {
            "node": "Receive Request",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Task Package": {
      "main": [
        [
          {
            "node": "Add A New Task",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Workflow Direct Input SAMPLE": {
      "main": [
        [
          {
            "node": "Workflow Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "pinData": {},
  "meta": {
    "templateCredsSetupCompleted": true,
    "instanceId": "3c3655861b945e2f23873d293f97337788a318f9e0823cca507f13751bd70fd7"
  }
}